In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pred_file = "../output/class_pred_16_fixed.v2.5.csv"
baseline_file = "../output/baseline.csv"
test_file = "../input/en_test_2.csv"

In [3]:
pred_df = pd.read_csv(pred_file)
baselin_df = pd.read_csv(baseline_file)
test_df = pd.read_csv(test_file)

In [6]:
pred_df.head()

    id      before  class_pred
0  0_0        Last         0.0
1  0_1    modified         0.0
2  0_2  2016-03-31         2.0
3  0_3           .         1.0
4  1_0     There's         0.0

In [4]:
labels = ['PLAIN', 'PUNCT', 'DATE', 'LETTERS', 'CARDINAL', 'VERBATIM',
          'DECIMAL', 'MEASURE', 'MONEY', 'ORDINAL', 'TIME', 'ELECTRONIC',
          'DIGIT', 'FRACTION', 'TELEPHONE', 'ADDRESS']
label2index = dict(zip(labels, range(len(labels))))
index2label = dict([(v, k) for k, v in label2index.items()])

In [5]:
pred_df["class_pred"].value_counts()

0.0     688246
1.0     193491
2.0      26822
3.0      17320
4.0      13443
5.0       9920
7.0       2391
9.0       1113
11.0       815
6.0        793
8.0        557
12.0       462
14.0       353
10.0       152
13.0       106
15.0        62
Name: class_pred, dtype: int64

In [8]:
dec_df = pred_df.loc[pred_df["class_pred"].apply(lambda i: index2label[i]) == "DECIMAL"]
dec_df.shape

(897, 3)

In [20]:
def has_measure_string(token):
    token = str(token)
    mea_strs = ['years', 'year', 'months', 'month', 'weeks', 'week', 'days', 'day', 'hours', 'minutes', 'min', 'seconds', 'nautical', 'acres', 'hectares', 'tonnes', 'tons', 'kilobytes', 'nanobarns', 'square', 'miles', 'kilometres', 'kilometre', 'kilometers', 'kilometer', 'meters', 'meter', 'metres', 'metre', 'feet', 'yards', 'barrels', 'calories', 'watts', 'knots', 'inches', 'pounds', 'degrees', 'bar', 'Cellos']
    for one in mea_strs:
        if one in token:
            return True
    return False

In [21]:
def has_string(token):
    token = str(token)
    for c in token:
        if ord("A") <= ord(c) <= ord("Z") or ord("a") <= ord(c) <= ord("z"):
            return True
    return False

In [23]:
dec_df.loc[dec_df["before"].apply(has_string)][150:]

              id         before  class_pred
746706   54810_6    6.5 million         6.0
751992   55194_8      8 million         6.0
758054   55639_4      3 million         6.0
763611  56047_10      4 million         6.0
772009   56662_1       26 years         6.0
774771   56866_3    1.4 million         6.0
774784  56866_16    1.3 million         6.0
775609   56926_6       57 years         6.0
776569   56997_2       40 years         6.0
779328  57189_17       50 years         6.0
781000   57309_6  3.101 million         6.0
792129   58107_3       13 weeks         6.0
817988   59972_9   4.19 million         6.0
833188   61067_9     15 billion         6.0
833331   61077_6       15 years         6.0
836582   61316_5      1 million         6.0
837672  61395_13       22 years         6.0
838915   61489_3      3 million         6.0
841292   61665_3       26 years         6.0
842891  61772_15     12 million         6.0
851122   62366_9       45 years         6.0
855677   62695_7       28 years         6.0
859183   62951_0    200 minutes         6.0
860036  63018_14  12.72 million         6.0
861899   63153_8   6000 million         6.0
864084   63312_5     28 minutes         6.0
888728  65128_13    3.8 billion         6.0
899196  65904_15     45 minutes         6.0
900051  65962_18     30 minutes         6.0
902579   66149_7       12 years         6.0
905923  66391_13       75 years         6.0
907019  66458_13    5.5 minutes         6.0
911503   66781_0       30 years         6.0
911642   66792_6      1 million         6.0
921165   67480_2      2 million         6.0
928605  68011_15    1.7 million         6.0
933743   68380_8      4 million         6.0
940853  68891_10     10 million         6.0
943740   69093_5       10 years         6.0
944481   69149_7       15 years         6.0
947767  69386_10    320 million         6.0
947769  69386_12    190 million         6.0
947869   69394_5    3.5 million         6.0
948197   69418_3       42 years         6.0
951099   69634_0   20.7 million         6.0
951106   69634_7    8.6 million         6.0
951113  69634_14    0.7 million         6.0
955335   69948_3   3.25 million         6.0

In [24]:
dec_df.loc[dec_df["before"].apply(has_measure_string)]

              id                before  class_pred
1573       137_7              28 years         6.0
9170      737_15            45 minutes         6.0
20520     1593_3              22 years         6.0
21990    1702_12              15 years         6.0
57684     4462_6              33 years         6.0
63761     4909_3              10 years         6.0
77368     5943_9              32 years         6.0
81366     6243_1              20 years         6.0
91520    7017_18              40 years         6.0
99978     7649_6              20 years         6.0
102676    7849_5              40 years         6.0
110291    8421_8              22 years         6.0
112576    8591_5  105.5 miles per hour         6.0
115592    8809_6              75 years         6.0
129103    9821_5            60 seconds         6.0
138799   10538_5           127 minutes         6.0
140939   10707_4              27 years         6.0
141172   10723_9            18 minutes         6.0
149500   11339_2              11 years         6.0
164749   12461_4              18 years         6.0
166059   12551_2              27 years         6.0
170206   12861_4              30 years         6.0
196455   14787_0              18 years         6.0
204097   15381_6           272 minutes         6.0
210893  15884_11              12 years         6.0
245834   18399_7              42 years         6.0
269521  20135_14           150 seconds         6.0
271591  20288_19            25 minutes         6.0
275053   20529_7              17 years         6.0
276070   20604_6              30 years         6.0
...          ...                   ...         ...
662982   48755_2              24 years         6.0
678474   49866_5              13 years         6.0
684916   50321_7              18 years         6.0
695971   51128_9              45 years         6.0
705704   51820_2              16 years         6.0
715665  52548_11              15 years         6.0
720268  52877_12            15 minutes         6.0
728891  53500_12              28 years         6.0
741631   54435_7            29 seconds         6.0
772009   56662_1              26 years         6.0
775609   56926_6              57 years         6.0
776569   56997_2              40 years         6.0
779328  57189_17              50 years         6.0
792129   58107_3              13 weeks         6.0
833331   61077_6              15 years         6.0
837672  61395_13              22 years         6.0
841292   61665_3              26 years         6.0
851122   62366_9              45 years         6.0
855677   62695_7              28 years         6.0
859183   62951_0           200 minutes         6.0
864084   63312_5            28 minutes         6.0
899196  65904_15            45 minutes         6.0
900051  65962_18            30 minutes         6.0
902579   66149_7              12 years         6.0
905923  66391_13              75 years         6.0
907019  66458_13           5.5 minutes         6.0
911503   66781_0              30 years         6.0
943740   69093_5              10 years         6.0
944481   69149_7              15 years         6.0
948197   69418_3              42 years         6.0

[104 rows x 3 columns]

In [33]:
pred_df.loc[pred_df["class_pred"].apply(lambda i: index2label[i]) == "MONEY"]

              id           before  class_pred
1096        95_8     £415 million         8.0
1163       101_7  1.5 centimetres         8.0
1704      148_11     $203 million         8.0
3387       282_5         $210,000         8.0
3389       282_7       US$610,408         8.0
3391       282_9     2016 dollars         8.0
8311       666_6              $3M         8.0
9014      725_11     $150 billion         8.0
15331     1206_3           $20.5m         8.0
15960    1252_20  US$12.5 million         8.0
17159     1346_3      £58 million         8.0
19388    1512_12       US$182,250         8.0
19390    1512_14        US$42,750         8.0
19393    1512_17        US$37,500         8.0
22273     1725_9    $23.2 billion         8.0
23362     1812_3      £37 million         8.0
24927    1938_12              £8m         8.0
27033    2101_19           $5,000         8.0
27356     2129_5   $ 16.8 billion         8.0
28198    2195_17            £6.5m         8.0
29878     2317_8            $1695         8.0
32327    2507_11          £50,000         8.0
39518    3052_14        $4billion         8.0
41525     3201_7            $2.00         8.0
41895    3232_11      $20,000,000         8.0
41900    3232_16       $1,500,000         8.0
44308    3424_10            $250M         8.0
47673     3682_8          $80,000         8.0
47685    3682_20         $450,000         8.0
55098     4250_5       US$125,000         8.0
...          ...              ...         ...
920532   67428_9             $395         8.0
920742   67445_6             $500         8.0
921202   67482_3          £30,000         8.0
922736   67596_4    900 Million $         8.0
929169   68052_3          $34,910         8.0
930863   68176_6       $3 Million         8.0
932374   68288_9          $45,000         8.0
934271  68416_20      £27 million         8.0
938407   68709_6  Rs 27,635 crore         8.0
938936   68751_8       ¥3 Billion         8.0
939384   68782_6     $1.2 billion         8.0
941028   68904_5       $7 billion         8.0
941525   68937_4    $5.75 Million         8.0
943334   69064_9          $60,000         8.0
944202   69127_6           $6,331         8.0
944208  69127_12           $6,791         8.0
944215  69127_19           $7,351         8.0
944270   69132_9         $600,000         8.0
944278  69132_17      $13 million         8.0
944887   69178_9           £4,000         8.0
946217  69276_12       $3 million         8.0
950121   69565_6             $125         8.0
950588   69596_5       $9 billion         8.0
951220  69642_10             £100         8.0
951319  69648_14      $45 million         8.0
952447  69735_13      $10 million         8.0
952887  69763_12          £85,000         8.0
953251   69791_1            BMD-1         8.0
953432   69803_4              $1M         8.0
953583   69815_3              $1M         8.0

[557 rows x 3 columns]

In [26]:
elec_df = pred_df.loc[pred_df["class_pred"].apply(lambda i: index2label[i]) == "ELECTRONIC"]
elec_df.shape

(948, 3)

In [29]:
das_pat = re.compile(r"^[a-zA-Z]+-[a-zA-Z]+$")

def has_dash(token):
    token = str(token)
    if das_pat.search(token):
        return True
    else:
        return False

In [30]:
elec_df[elec_df["before"].apply(has_dash)]

              id             before  class_pred
4282      353_17         off-season        11.0
13186    1043_11      semi-finalist        11.0
16754    1315_14          full-time        11.0
22394    1735_11         semi-final        11.0
36197     2801_8           anti-war        11.0
41524     3201_6           one-time        11.0
45729     3537_9         two-seater        11.0
50584     3904_8        semi-finals        11.0
50727     3916_7  counter-terrorism        11.0
53672     4143_4          semi-arid        11.0
56612    4376_19       fund-raising        11.0
57204    4421_15          full-time        11.0
63418    4883_10         high-speed        11.0
71053    5462_11          full-time        11.0
71883     5534_1         semi-final        11.0
72817     5604_1          hour-long        11.0
76824    5898_12         high-speed        11.0
79557    6110_13   non-commissioned        11.0
84323     6466_3         semi-final        11.0
84945     6509_7         high-speed        11.0
86417     6619_0         high-speed        11.0
91688     7030_5          long-term        11.0
96048     7355_8            hip-hop        11.0
105344    8050_3         high-speed        11.0
106550    8141_8      anti-semitism        11.0
107487   8211_15        left-handed        11.0
109728   8379_10         high-speed        11.0
109838    8391_0           anti-war        11.0
109898   8395_19          full-time        11.0
110104    8410_1         high-speed        11.0
...          ...                ...         ...
843245   61800_1        semi-finals        11.0
844869   61915_6          full-time        11.0
848476   62183_7         high-speed        11.0
850045  62288_13          so-called        11.0
851046   62360_7        mini-series        11.0
852628   62479_2         semi-final        11.0
853893  62570_15        mini-series        11.0
854986  62642_10         spider-man        11.0
860746   63070_3         high-speed        11.0
866226  63465_10          full-time        11.0
868842   63651_6         high-speed        11.0
869791   63726_1          long-term        11.0
874447   64072_0      post-graduate        11.0
874693  64087_12   air-conditioning        11.0
884227  64800_14          so-called        11.0
884521  64822_15         semi-final        11.0
889375   65176_2         spider-man        11.0
889409   65179_8          full-time        11.0
898967  65887_20         semi-final        11.0
899347  65912_13          so-called        11.0
899412   65916_7          so-called        11.0
902723   66161_8         spider-man        11.0
911650   66793_1         spider-man        11.0
915712   67086_5         semi-final        11.0
938976   68754_5          high-rise        11.0
947950  69400_19         semi-final        11.0
952630   69746_6         high-speed        11.0
953307   69795_0         high-speed        11.0
953980   69843_9         semi-final        11.0
954765   69904_3           anti-war        11.0

[236 rows x 3 columns]

In [6]:
test_df[:50]

    sentence_id  token_id          before
0             0         0         Another
1             0         1       religious
2             0         2          family
3             0         3              is
4             0         4              of
5             0         5          Hazrat
6             0         6          Sayyed
7             0         7           Ahmad
8             0         8             and
9             0         9             his
10            0        10          nephew
11            0        11          Hazrat
12            0        12           Abdul
13            0        13             Haq
14            0        14               .
15            1         0             The
16            1         1            free
17            1         2          webapp
18            1         3   functionality
19            1         4        contains
20            1         5  advertisements
21            1         6          geared
22            1         7              to
23            1         8           small
24            1         9      businesses
25            1        10               .
26            2         0         Kuklick
27            2         1               ,
28            2         2               p
29            2         3               .
30            2         4              75
31            2         5         Kuklick
32            2         6               ,
33            2         7               p
34            2         8               .
35            2         9              76
36            2        10        Westcott
37            2        11               ,
38            2        12               p
39            2        13               .
40            2        14             124
41            2        15         Kuklick
42            2        16               ,
43            2        17              pp
44            2        18               .
45            3         0               "
46            3         1            2010
47            3         2            FINA
48            3         3           World
49            3         4        Swimming

In [7]:
ids_a = np.array(list(map(lambda tup: str(tup[0]) + "_" + str(tup[1]),
                         zip(test_df["sentence_id"].values,
                             test_df["token_id"].values))))

In [8]:
test_df["id"] = ids_a

In [9]:
compare_df = pd.merge(test_df, baselin_df, on=["id"])
compare_df = pd.merge(compare_df, pred_df, on=["id"])
compare_df = compare_df[["id", "before", "after","class_pred"]]

In [10]:
compare_df["equal"] = (compare_df["before"] == compare_df["after"])

In [11]:
compare_df[:100]

      id          before                          after  class_pred  equal
0    0_0         Another                        Another         0.0   True
1    0_1       religious                      religious         0.0   True
2    0_2          family                         family         0.0   True
3    0_3              is                             is         0.0   True
4    0_4              of                             of         0.0   True
5    0_5          Hazrat                         Hazrat         0.0   True
6    0_6          Sayyed                         Sayyed         0.0   True
7    0_7           Ahmad                          Ahmad         0.0   True
8    0_8             and                            and         0.0   True
9    0_9             his                            his         0.0   True
10  0_10          nephew                         nephew         0.0   True
11  0_11          Hazrat                         Hazrat         0.0   True
12  0_12           Abdul                          Abdul         0.0   True
13  0_13             Haq                            Haq         0.0   True
14  0_14               .                              .         0.0   True
15   1_0             The                            The         0.0   True
16   1_1            free                           free         0.0   True
17   1_2          webapp                         webapp         0.0   True
18   1_3   functionality                  functionality         0.0   True
19   1_4        contains                       contains         0.0   True
20   1_5  advertisements                 advertisements         0.0   True
21   1_6          geared                         geared         0.0   True
22   1_7              to                             to         0.0   True
23   1_8           small                          small         0.0   True
24   1_9      businesses                     businesses         0.0   True
25  1_10               .                              .         0.0   True
26   2_0         Kuklick                        Kuklick         0.0   True
27   2_1               ,                              ,         0.0   True
28   2_2               p                              p         0.0   True
29   2_3               .                              .         0.0   True
..   ...             ...                            ...         ...    ...
70   4_6              Dn                            d n         0.0  False
71   4_7        includes                       includes         0.0   True
72   4_8     reflections                    reflections         0.0   True
73   4_9              in                             in         0.0   True
74  4_10           lines                          lines         0.0   True
75  4_11               .                              .         0.0   True
76   5_0             The                            The         0.0   True
77   5_1        museum's                       museum's         0.0   True
78   5_2      exhibition                     exhibition         0.0   True
79   5_3            hall                           hall         0.0   True
80   5_4        occupies                       occupies         0.0   True
81   5_5           3,400    three thousand four hundred         1.0  False
82   5_6          square                         square         0.0   True
83   5_7          meters                         meters         0.0   True
84   5_8               (                              (         0.0   True
85   5_9       10,200 ft  ten thousand two hundred feet         1.0  False
86  5_10               ²                        squared         1.0  False
87  5_11               )                              )         0.0   True
88  5_12             and                            and         0.0   True
89  5_13             its                            its         0.0   True
90  5_14         library                        library         0.0   True
91  5_15        contains                       contains         0.0   True
92  5_16           7,000                 seven thousand         1.0  False
93  5_17           books                          books         0.0   True
94  5_18               .                              .         0.0   True
95   6_0               "                              "         0.0   True
96   6_1        Japanese                       Japanese         0.0   True
97   6_2          German                         German         0.0   True
98   6_3       relations                      relations         0.0   True
99   6_4               ,                              ,         0.0   True

[100 rows x 5 columns]

In [12]:
diff_df = compare_df.iloc[compare_df["class_pred"].values != list(map(float, (~compare_df["equal"].values)))]
diff_df

,id,before,after,class_pred,equal
54,3_9,-,-,1.0,True
57,3_12,metre,meter,0.0,False
66,4_2,D,D,1.0,True
70,4_6,Dn,d n,0.0,False
383,27_8,p,p,1.0,True
434,31_9,11.8 MB,11.8 MB,1.0,True
571,40_7,metres,meters,0.0,False
575,40_11,-,-,1.0,True
704,49_1,http://www.britannica.com/EBchecked/topic/2852...,http://www.britannica.com/EBchecked/topic/2852...,1.0,True
742,52_9,http://search.eb.com/eb/article-9061377,http://search.eb.com/eb/article-9061377,1.0,True
748,52_15,::,::,1.0,True
779,54_13,Café,cafe,0.0,False
789,55_6,kilometres,kilometers,0.0,False
798,55_15,kilometres,kilometers,0.0,False
918,63_16,-,-,1.0,True
929,64_2,BOGOF,b o g o f,0.0,False
934,64_7,p,p,1.0,True
940,64_13,p,p,1.0,True
942,64_15,BOGOF,b o g o f,0.0,False
1036,71_0,dr,doctor,0.0,False
1173,79_1,jr,junior,0.0,False
1216,81_6,Programme,program,0.0,False
1368,92_0,vol,volume,0.0,False
1603,106_10,-,-,1.0,True
1640,108_4,kilometres,kilometers,0.0,False
1933,126_10,emphasise,emphasize,0.0,False
2021,130_20,Г,Г,1.0,True
2022,130_21,у,у,1.0,True
2023,130_22,г,г,1.0,True
2024,130_23,о,о,1.0,True
...,...,...,...,...,...
1085840,69823_3,vol,volume,0.0,False
1085920,69829_17,recognised,recognized,0.0,False
1085964,69832_2,Jazzhouse.orgChris,Jazzhouse.orgChris,1.0,True
1086230,69848_0,Q,Q,1.0,True
1086316,69854_4,978-0-271-02526-1,978-0-271-02526-1,1.0,True
1086477,69865_12,52.4 mm,52.4 mm,1.0,True
1086762,69882_12,Nur,n u r,0.0,False
1086775,69883_8,metres,meters,0.0,False
1086785,69883_18,12.348 km²,12.348 km²,1.0,True
1086787,69883_20,7.67mi²,7.67mi²,1.0,True
1086822,69886_2,-,-,1.0,True
1087155,69907_3,-,-,1.0,True
1087231,69912_7,e,e,1.0,True
1087249,69913_15,-,-,1.0,True
1087384,69921_16,-,-,1.0,True
1087407,69923_1,Uniao,u n i a o,0.0,False
1087466,69928_5,Ared,a r e d,0.0,False
1087471,69928_10,ሰ,ሰ,1.0,True
1087472,69928_11,ይ,ይ,1.0,True
1087473,69928_12,ፈ,ፈ,1.0,True
1087474,69928_13,አ,አ,1.0,True
1087475,69928_14,ር,ር,1.0,True
1087476,69928_15,ድ,ድ,1.0,True
1087478,69928_17,ኛ,ኛ,1.0,True
1087533,69932_0,SignOnSanDiego.co,SignOnSanDiego.co,1.0,True
1087543,69933_3,metres,meters,0.0,False
1087914,69956_6,SCOOP,SCOOP,1.0,True
1087917,69956_9,-,-,1.0,True
1087950,69959_4,jr,junior,0.0,False
1088259,69979_3,-,-,1.0,True

In [13]:
diff_df.shape[0] / compare_df.shape[0]

0.013198121561984412