In [1]:
import pandas as pd
import numpy as np

In [2]:
pred_file = "../output/class_pred.csv"
baseline_file = "../baseline2_en.csv"
test_file = "../input/en_test.csv"

In [3]:
pred_df = pd.read_csv(pred_file)
baselin_df = pd.read_csv(baseline_file)
test_df = pd.read_csv(test_file)

In [4]:
pred_df[:50]

    Unnamed: 0    id  class_pred
0            0   0_0         0.0
1            1   0_1         0.0
2            2   0_2         0.0
3            3   0_3         0.0
4            4   0_4         0.0
5            5   0_5         0.0
6            6   0_6         0.0
7            7   0_7         0.0
8            8   0_8         0.0
9            9   0_9         0.0
10          10  0_10         0.0
11          11  0_11         0.0
12          12  0_12         0.0
13          13  0_13         0.0
14          14  0_14         0.0
15          15   1_0         0.0
16          16   1_1         0.0
17          17   1_2         0.0
18          18   1_3         0.0
19          19   1_4         0.0
20          20   1_5         0.0
21          21   1_6         0.0
22          22   1_7         0.0
23          23   1_8         0.0
24          24   1_9         0.0
25          25  1_10         0.0
26          26   2_0         0.0
27          27   2_1         0.0
28          28   2_2         0.0
29          29   2_3         0.0
30          30   2_4         1.0
31          31   2_5         0.0
32          32   2_6         0.0
33          33   2_7         0.0
34          34   2_8         0.0
35          35   2_9         1.0
36          36  2_10         0.0
37          37  2_11         0.0
38          38  2_12         0.0
39          39  2_13         0.0
40          40  2_14         1.0
41          41  2_15         0.0
42          42  2_16         0.0
43          43  2_17         1.0
44          44  2_18         0.0
45          45   3_0         0.0
46          46   3_1         1.0
47          47   3_2         0.0
48          48   3_3         0.0
49          49   3_4         0.0

In [5]:
baselin_df[:50]

      id                    after
0    0_0                  Another
1    0_1                religious
2    0_2                   family
3    0_3                       is
4    0_4                       of
5    0_5                   Hazrat
6    0_6                   Sayyed
7    0_7                    Ahmad
8    0_8                      and
9    0_9                      his
10  0_10                   nephew
11  0_11                   Hazrat
12  0_12                    Abdul
13  0_13                      Haq
14  0_14                        .
15   1_0                      The
16   1_1                     free
17   1_2                   webapp
18   1_3            functionality
19   1_4                 contains
20   1_5           advertisements
21   1_6                   geared
22   1_7                       to
23   1_8                    small
24   1_9               businesses
25  1_10                        .
26   2_0                  Kuklick
27   2_1                        ,
28   2_2                        p
29   2_3                        .
30   2_4             seventy five
31   2_5                  Kuklick
32   2_6                        ,
33   2_7                        p
34   2_8                        .
35   2_9              seventy six
36  2_10                 Westcott
37  2_11                        ,
38  2_12                        p
39  2_13                        .
40  2_14  one hundred twenty four
41  2_15                  Kuklick
42  2_16                        ,
43  2_17                      p p
44  2_18                        .
45   3_0                        "
46   3_1               twenty ten
47   3_2                     FINA
48   3_3                    World
49   3_4                 Swimming

In [6]:
test_df[:50]

    sentence_id  token_id          before
0             0         0         Another
1             0         1       religious
2             0         2          family
3             0         3              is
4             0         4              of
5             0         5          Hazrat
6             0         6          Sayyed
7             0         7           Ahmad
8             0         8             and
9             0         9             his
10            0        10          nephew
11            0        11          Hazrat
12            0        12           Abdul
13            0        13             Haq
14            0        14               .
15            1         0             The
16            1         1            free
17            1         2          webapp
18            1         3   functionality
19            1         4        contains
20            1         5  advertisements
21            1         6          geared
22            1         7              to
23            1         8           small
24            1         9      businesses
25            1        10               .
26            2         0         Kuklick
27            2         1               ,
28            2         2               p
29            2         3               .
30            2         4              75
31            2         5         Kuklick
32            2         6               ,
33            2         7               p
34            2         8               .
35            2         9              76
36            2        10        Westcott
37            2        11               ,
38            2        12               p
39            2        13               .
40            2        14             124
41            2        15         Kuklick
42            2        16               ,
43            2        17              pp
44            2        18               .
45            3         0               "
46            3         1            2010
47            3         2            FINA
48            3         3           World
49            3         4        Swimming

In [7]:
ids_a = np.array(list(map(lambda tup: str(tup[0]) + "_" + str(tup[1]),
                         zip(test_df["sentence_id"].values,
                             test_df["token_id"].values))))

In [8]:
test_df["id"] = ids_a

In [9]:
compare_df = pd.merge(test_df, baselin_df, on=["id"])
compare_df = pd.merge(compare_df, pred_df, on=["id"])
compare_df = compare_df[["id", "before", "after","class_pred"]]

In [10]:
compare_df["equal"] = (compare_df["before"] == compare_df["after"])

In [11]:
compare_df[:100]

      id          before                          after  class_pred  equal
0    0_0         Another                        Another         0.0   True
1    0_1       religious                      religious         0.0   True
2    0_2          family                         family         0.0   True
3    0_3              is                             is         0.0   True
4    0_4              of                             of         0.0   True
5    0_5          Hazrat                         Hazrat         0.0   True
6    0_6          Sayyed                         Sayyed         0.0   True
7    0_7           Ahmad                          Ahmad         0.0   True
8    0_8             and                            and         0.0   True
9    0_9             his                            his         0.0   True
10  0_10          nephew                         nephew         0.0   True
11  0_11          Hazrat                         Hazrat         0.0   True
12  0_12           Abdul                          Abdul         0.0   True
13  0_13             Haq                            Haq         0.0   True
14  0_14               .                              .         0.0   True
15   1_0             The                            The         0.0   True
16   1_1            free                           free         0.0   True
17   1_2          webapp                         webapp         0.0   True
18   1_3   functionality                  functionality         0.0   True
19   1_4        contains                       contains         0.0   True
20   1_5  advertisements                 advertisements         0.0   True
21   1_6          geared                         geared         0.0   True
22   1_7              to                             to         0.0   True
23   1_8           small                          small         0.0   True
24   1_9      businesses                     businesses         0.0   True
25  1_10               .                              .         0.0   True
26   2_0         Kuklick                        Kuklick         0.0   True
27   2_1               ,                              ,         0.0   True
28   2_2               p                              p         0.0   True
29   2_3               .                              .         0.0   True
..   ...             ...                            ...         ...    ...
70   4_6              Dn                            d n         0.0  False
71   4_7        includes                       includes         0.0   True
72   4_8     reflections                    reflections         0.0   True
73   4_9              in                             in         0.0   True
74  4_10           lines                          lines         0.0   True
75  4_11               .                              .         0.0   True
76   5_0             The                            The         0.0   True
77   5_1        museum's                       museum's         0.0   True
78   5_2      exhibition                     exhibition         0.0   True
79   5_3            hall                           hall         0.0   True
80   5_4        occupies                       occupies         0.0   True
81   5_5           3,400    three thousand four hundred         1.0  False
82   5_6          square                         square         0.0   True
83   5_7          meters                         meters         0.0   True
84   5_8               (                              (         0.0   True
85   5_9       10,200 ft  ten thousand two hundred feet         1.0  False
86  5_10               ²                        squared         1.0  False
87  5_11               )                              )         0.0   True
88  5_12             and                            and         0.0   True
89  5_13             its                            its         0.0   True
90  5_14         library                        library         0.0   True
91  5_15        contains                       contains         0.0   True
92  5_16           7,000                 seven thousand         1.0  False
93  5_17           books                          books         0.0   True
94  5_18               .                              .         0.0   True
95   6_0               "                              "         0.0   True
96   6_1        Japanese                       Japanese         0.0   True
97   6_2          German                         German         0.0   True
98   6_3       relations                      relations         0.0   True
99   6_4               ,                              ,         0.0   True

[100 rows x 5 columns]

In [12]:
diff_df = compare_df.iloc[compare_df["class_pred"].values != list(map(float, (~compare_df["equal"].values)))]
diff_df

,id,before,after,class_pred,equal
54,3_9,-,-,1.0,True
57,3_12,metre,meter,0.0,False
66,4_2,D,D,1.0,True
70,4_6,Dn,d n,0.0,False
383,27_8,p,p,1.0,True
434,31_9,11.8 MB,11.8 MB,1.0,True
571,40_7,metres,meters,0.0,False
575,40_11,-,-,1.0,True
704,49_1,http://www.britannica.com/EBchecked/topic/2852...,http://www.britannica.com/EBchecked/topic/2852...,1.0,True
742,52_9,http://search.eb.com/eb/article-9061377,http://search.eb.com/eb/article-9061377,1.0,True
748,52_15,::,::,1.0,True
779,54_13,Café,cafe,0.0,False
789,55_6,kilometres,kilometers,0.0,False
798,55_15,kilometres,kilometers,0.0,False
918,63_16,-,-,1.0,True
929,64_2,BOGOF,b o g o f,0.0,False
934,64_7,p,p,1.0,True
940,64_13,p,p,1.0,True
942,64_15,BOGOF,b o g o f,0.0,False
1036,71_0,dr,doctor,0.0,False
1173,79_1,jr,junior,0.0,False
1216,81_6,Programme,program,0.0,False
1368,92_0,vol,volume,0.0,False
1603,106_10,-,-,1.0,True
1640,108_4,kilometres,kilometers,0.0,False
1933,126_10,emphasise,emphasize,0.0,False
2021,130_20,Г,Г,1.0,True
2022,130_21,у,у,1.0,True
2023,130_22,г,г,1.0,True
2024,130_23,о,о,1.0,True
...,...,...,...,...,...
1085840,69823_3,vol,volume,0.0,False
1085920,69829_17,recognised,recognized,0.0,False
1085964,69832_2,Jazzhouse.orgChris,Jazzhouse.orgChris,1.0,True
1086230,69848_0,Q,Q,1.0,True
1086316,69854_4,978-0-271-02526-1,978-0-271-02526-1,1.0,True
1086477,69865_12,52.4 mm,52.4 mm,1.0,True
1086762,69882_12,Nur,n u r,0.0,False
1086775,69883_8,metres,meters,0.0,False
1086785,69883_18,12.348 km²,12.348 km²,1.0,True
1086787,69883_20,7.67mi²,7.67mi²,1.0,True
1086822,69886_2,-,-,1.0,True
1087155,69907_3,-,-,1.0,True
1087231,69912_7,e,e,1.0,True
1087249,69913_15,-,-,1.0,True
1087384,69921_16,-,-,1.0,True
1087407,69923_1,Uniao,u n i a o,0.0,False
1087466,69928_5,Ared,a r e d,0.0,False
1087471,69928_10,ሰ,ሰ,1.0,True
1087472,69928_11,ይ,ይ,1.0,True
1087473,69928_12,ፈ,ፈ,1.0,True
1087474,69928_13,አ,አ,1.0,True
1087475,69928_14,ር,ር,1.0,True
1087476,69928_15,ድ,ድ,1.0,True
1087478,69928_17,ኛ,ኛ,1.0,True
1087533,69932_0,SignOnSanDiego.co,SignOnSanDiego.co,1.0,True
1087543,69933_3,metres,meters,0.0,False
1087914,69956_6,SCOOP,SCOOP,1.0,True
1087917,69956_9,-,-,1.0,True
1087950,69959_4,jr,junior,0.0,False
1088259,69979_3,-,-,1.0,True

In [13]:
diff_df.shape[0] / compare_df.shape[0]

0.013198121561984412