In [1]:
import pandas as pd
import numpy as np

In [2]:
compare_file_name = "../test/compare.csv"

In [3]:
compare_df = pd.read_csv(compare_file_name)

In [6]:
compare_df

,id,class_pred,before,after_x,after_y
0,4_0,DATE,21 February 2017,twenty-one February two thousand and seventeen,the twenty first of february twenty seventeen
1,14_1,DATE,4 March 2017,four March two thousand and seventeen,the fourth of march twenty seventeen
2,16_1,DATE,"March 28, 2017",March twenty-eight two thousand and seventeen,march twenty eighth twenty seventeen
3,20_1,DATE,"April 18, 2017",April eighteen two thousand and seventeen,april eighteenth twenty seventeen
4,32_1,DATE,15 August 2016,fifteen August two thousand and sixteen,the fifteenth of august twenty sixteen
5,45_0,DATE,"February 15, 2017",February fifteen two thousand and seventeen,february fifteenth twenty seventeen
6,59_10,MEASURE,76.2/sq mi,76.2/sq mi,seventy six point two per square miles
7,65_1,DATE,6 December 2016,six December two thousand and sixteen,the sixth of december twenty sixteen
8,67_1,DATE,"February 14, 2017",February fourteen two thousand and seventeen,february fourteenth twenty seventeen
9,70_6,DATE,3 June 1712,"three June one thousand, seven hundred and twelve",the third of june seventeen twelve
10,82_13,MEASURE,6 years,six years,six year second
11,83_1,DATE,14 June 2017,fourteen June two thousand and seventeen,the fourteenth of june twenty seventeen
12,86_1,DATE,7 February 2017,seven February two thousand and seventeen,the seventh of february twenty seventeen
13,93_6,DIGIT,021798,"twenty-one thousand, seven hundred and ninety-...",o two one seven nine eight
14,95_4,CARDINAL,2020,twenty twenty,two thousand twenty
15,96_1,DATE,23 February 2017,twenty-three February two thousand and seventeen,the twenty third of february twenty seventeen
16,106_1,DATE,"April 26, 2017",April twenty-six two thousand and seventeen,april twenty sixth twenty seventeen
17,108_11,VERBATIM,vWD,v w d,vWD
18,111_1,DATE,10 July 2017,ten July two thousand and seventeen,the tenth of july twenty seventeen
19,113_1,DATE,23 January 2017,twenty-three January two thousand and seventeen,the twenty third of january twenty seventeen
20,114_1,DATE,"May 24, 2017",May twenty-four two thousand and seventeen,may twenty fourth twenty seventeen
21,119_3,DATE,"April 6, 2017",April six two thousand and seventeen,april sixth twenty seventeen
22,121_8,DATE,30 April 1779,"thirty April one thousand, seven hundred and s...",the thirtieth of april seventeen seventy nine
23,122_1,DATE,3 March 2017,three March two thousand and seventeen,the third of march twenty seventeen
24,136_1,PLAIN,-,-,to
25,137_7,DECIMAL,28 years,twenty-eight years,twenty eight years
26,141_1,DATE,"March 6, 2017",March six two thousand and seventeen,march sixth twenty seventeen
27,143_12,DATE,"January 29, 2017",January twenty-nine two thousand and seventeen,january twenty ninth twenty seventeen
28,147_0,DATE,"January 26, 2017",January twenty-six two thousand and seventeen,january twenty sixth twenty seventeen
29,151_17,PLAIN,-,-,to
...,...,...,...,...,...
7470,69692_1,DATE,15 Nov 2016,fifteen Nov two thousand and sixteen,the fifteenth of november twenty sixteen
7471,69714_5,ELECTRONIC,Historywc.rootsweb.com,Historywc.rootsweb.com,h i s t o r y w c dot r o o t s w e b dot c o m
7472,69717_18,PLAIN,:,:,to
7473,69723_13,TIME,09:37 EDT,09:37 EDT,nine thirty seven e d t
7474,69727_11,DATE,21 years,twenty-one years,the twenty first of odd!~!
7475,69746_6,ELECTRONIC,high-speed,high-speed,h i g h d a s h s p e e d
7476,69769_8,DATE,"July 7, 2017",July seven two thousand and seventeen,july seventh twenty seventeen
7477,69791_1,MONEY,BMD-1,minus one bermudian dollars,bmd-1
7478,69795_0,ELECTRONIC,high-speed,high-speed,h i g h d a s h s p e e d
7479,69805_12,LETTERS,km/h,kilometer per hour,km/h
7480,69817_7,DATE,"24 February, 1942","twenty-four February one thousand, nine hundre...",the twenty fourth of february nineteen forty two
7481,69826_5,PLAIN,-,-,to
7482,69843_9,ELECTRONIC,semi-final,semi-final,s e m i d a s h f i n a l
7483,69854_19,ELECTRONIC,http://dos.myflorida.com/elections/data-statis...,http://dos.myflorida.com/elections/data-statis...,h t t p colon slash slash d o s dot m y f l o ...
7484,69857_3,DATE,9 September 2016,nine September two thousand and sixteen,the ninth of september twenty sixteen
7485,69878_6,DATE,"July 14, 2016",July fourteen two thousand and sixteen,july fourteenth twenty sixteen
7486,69879_9,PLAIN,-,-,to
7487,69882_3,CARDINAL,"-27,716",-27716,minus twenty seven thousand seven hundred sixteen
7488,69885_5,DATE,"June 1, 2017",June one two thousand and seventeen,june first twenty seventeen
7489,69895_0,ELECTRONIC,Changsha.com,Changsha.com,c h a n g s h a dot c o m
7490,69903_1,PLAIN,-,-,to
7491,69904_3,ELECTRONIC,anti-war,anti-war,a n t i d a s h w a r
7492,69916_7,PLAIN,-,-,to
7493,69916_14,DATE,14.06.2016,14.06.2016,the fourteenth of june twenty sixteen
7494,69916_18,DATE,13.12.2016,13.12.2016,the thirteenth of december twenty sixteen
7495,69921_9,DATE,"February 8, 2017",February eight two thousand and seventeen,february eighth twenty seventeen
7496,69949_1,TELEPHONE,1 902368 43 6,"one nine hundred and two thousand, three hundr...",one sil nine o two three six eight sil four th...
7497,69961_1,CARDINAL,1998,nineteen ninety eight,one thousand nine hundred ninety eight
7498,69966_16,CARDINAL,"250,010",two hundred and fifty thousand and ten,two hundred fifty thousand ten
7499,69982_4,MEASURE,"15,500 km²","fifteen thousand, five hundred km²",fifteen thousand five hundred square kilometers

In [4]:
compare_df.shape

(7500, 5)

In [5]:
compare_df["class_pred"].value_counts()

DATE          2511
PLAIN         1227
MEASURE        984
ELECTRONIC     920
CARDINAL       711
TELEPHONE      264
DIGIT          224
MONEY          170
DECIMAL        113
ORDINAL        109
VERBATIM        95
LETTERS         67
FRACTION        38
TIME            33
ADDRESS         28
PUNCT            6
Name: class_pred, dtype: int64

In [7]:
compare_df[compare_df["class_pred"] == "DATE"]

,id,class_pred,before,after_x,after_y
0,4_0,DATE,21 February 2017,twenty-one February two thousand and seventeen,the twenty first of february twenty seventeen
1,14_1,DATE,4 March 2017,four March two thousand and seventeen,the fourth of march twenty seventeen
2,16_1,DATE,"March 28, 2017",March twenty-eight two thousand and seventeen,march twenty eighth twenty seventeen
3,20_1,DATE,"April 18, 2017",April eighteen two thousand and seventeen,april eighteenth twenty seventeen
4,32_1,DATE,15 August 2016,fifteen August two thousand and sixteen,the fifteenth of august twenty sixteen
5,45_0,DATE,"February 15, 2017",February fifteen two thousand and seventeen,february fifteenth twenty seventeen
7,65_1,DATE,6 December 2016,six December two thousand and sixteen,the sixth of december twenty sixteen
8,67_1,DATE,"February 14, 2017",February fourteen two thousand and seventeen,february fourteenth twenty seventeen
9,70_6,DATE,3 June 1712,"three June one thousand, seven hundred and twelve",the third of june seventeen twelve
11,83_1,DATE,14 June 2017,fourteen June two thousand and seventeen,the fourteenth of june twenty seventeen
12,86_1,DATE,7 February 2017,seven February two thousand and seventeen,the seventh of february twenty seventeen
15,96_1,DATE,23 February 2017,twenty-three February two thousand and seventeen,the twenty third of february twenty seventeen
16,106_1,DATE,"April 26, 2017",April twenty-six two thousand and seventeen,april twenty sixth twenty seventeen
18,111_1,DATE,10 July 2017,ten July two thousand and seventeen,the tenth of july twenty seventeen
19,113_1,DATE,23 January 2017,twenty-three January two thousand and seventeen,the twenty third of january twenty seventeen
20,114_1,DATE,"May 24, 2017",May twenty-four two thousand and seventeen,may twenty fourth twenty seventeen
21,119_3,DATE,"April 6, 2017",April six two thousand and seventeen,april sixth twenty seventeen
22,121_8,DATE,30 April 1779,"thirty April one thousand, seven hundred and s...",the thirtieth of april seventeen seventy nine
23,122_1,DATE,3 March 2017,three March two thousand and seventeen,the third of march twenty seventeen
26,141_1,DATE,"March 6, 2017",March six two thousand and seventeen,march sixth twenty seventeen
27,143_12,DATE,"January 29, 2017",January twenty-nine two thousand and seventeen,january twenty ninth twenty seventeen
28,147_0,DATE,"January 26, 2017",January twenty-six two thousand and seventeen,january twenty sixth twenty seventeen
30,159_1,DATE,18 April 2016,eighteen April two thousand and sixteen,the eighteenth of april twenty sixteen
31,161_1,DATE,"January 29, 2017",January twenty-nine two thousand and seventeen,january twenty ninth twenty seventeen
32,176_4,DATE,"May 19, 2017",May nineteen two thousand and seventeen,may nineteenth twenty seventeen
33,183_1,DATE,"April 27, 2017",April twenty-seven two thousand and seventeen,april twenty seventh twenty seventeen
34,190_4,DATE,"May 12, 2017",May twelve two thousand and seventeen,may twelfth twenty seventeen
35,192_1,DATE,25 March 2017,twenty-five March two thousand and seventeen,the twenty fifth of march twenty seventeen
36,194_1,DATE,20 July 2016,twenty July two thousand and sixteen,the twentieth of july twenty sixteen
44,225_1,DATE,15 July 2016,fifteen July two thousand and sixteen,the fifteenth of july twenty sixteen
...,...,...,...,...,...
7389,68841_1,DATE,27 June 2017,twenty-seven June two thousand and seventeen,the twenty seventh of june twenty seventeen
7391,68845_17,DATE,2017-05-05,2017-05-05,the fifth of may twenty seventeen
7396,68902_4,DATE,"August 17, 2016",August seventeen two thousand and sixteen,august seventeenth twenty sixteen
7397,68919_8,DATE,"April 11th, 1914","April 11th one thousand, nine hundred and four...",april eleventh nineteen fourteen
7399,69030_8,DATE,17 August 2016,seventeen August two thousand and sixteen,the seventeenth of august twenty sixteen
7409,69089_1,DATE,3 June 2017,three June two thousand and seventeen,the third of june twenty seventeen
7411,69095_18,DATE,"October 3, 2016",October three two thousand and sixteen,october third twenty sixteen
7412,69100_15,DATE,"Sun, April 11, 2017","Sun, April 11, two thousand and seventeen","sunday , april 11, 2017"
7414,69104_9,DATE,"November 30, 2016",November thirty two thousand and sixteen,november thirtieth twenty sixteen
7419,69120_3,DATE,2017-02-06,2017-02-06,the sixth of february twenty seventeen
7430,69182_0,DATE,"April 8, 2017",April eight two thousand and seventeen,april eighth twenty seventeen
7432,69209_1,DATE,"June 15, 2017",June fifteen two thousand and seventeen,june fifteenth twenty seventeen
7438,69268_5,DATE,17 May 2017,seventeen May two thousand and seventeen,the seventeenth of may twenty seventeen
7445,69349_12,DATE,27 yards,twenty-seven yards,the twenty seventh of odd!~!
7450,69423_2,DATE,12 September 2016,twelve September two thousand and sixteen,the twelfth of september twenty sixteen
7451,69442_4,DATE,"May 20, 2017",May twenty two thousand and seventeen,may twentieth twenty seventeen
7457,69557_2,DATE,"April 5, 2017",April five two thousand and seventeen,april fifth twenty seventeen
7459,69612_12,DATE,23 July 2016,twenty-three July two thousand and sixteen,the twenty third of july twenty sixteen
7460,69617_4,DATE,19 March 2017,nineteen March two thousand and seventeen,the nineteenth of march twenty seventeen
7461,69624_8,DATE,"February 24, 2017",February twenty-four two thousand and seventeen,february twenty fourth twenty seventeen
7470,69692_1,DATE,15 Nov 2016,fifteen Nov two thousand and sixteen,the fifteenth of november twenty sixteen
7474,69727_11,DATE,21 years,twenty-one years,the twenty first of odd!~!
7476,69769_8,DATE,"July 7, 2017",July seven two thousand and seventeen,july seventh twenty seventeen
7480,69817_7,DATE,"24 February, 1942","twenty-four February one thousand, nine hundre...",the twenty fourth of february nineteen forty two
7484,69857_3,DATE,9 September 2016,nine September two thousand and sixteen,the ninth of september twenty sixteen
7485,69878_6,DATE,"July 14, 2016",July fourteen two thousand and sixteen,july fourteenth twenty sixteen
7488,69885_5,DATE,"June 1, 2017",June one two thousand and seventeen,june first twenty seventeen
7493,69916_14,DATE,14.06.2016,14.06.2016,the fourteenth of june twenty sixteen
7494,69916_18,DATE,13.12.2016,13.12.2016,the thirteenth of december twenty sixteen
7495,69921_9,DATE,"February 8, 2017",February eight two thousand and seventeen,february eighth twenty seventeen

In [10]:
plain_df = compare_df[compare_df["class_pred"] == "PLAIN"]
plain_df.loc[plain_df['before'] == "-"]

            id class_pred before after_x after_y
24       136_1      PLAIN      -       -      to
29      151_17      PLAIN      -       -      to
38      217_13      PLAIN      -       -      to
39      217_17      PLAIN      -       -      to
40      217_21      PLAIN      -       -      to
41      217_25      PLAIN      -       -      to
42      217_29      PLAIN      -       -      to
71       378_3      PLAIN      -       -      to
88       495_9      PLAIN      -       -      to
90      499_11      PLAIN      -       -      to
96       564_5      PLAIN      -       -      to
97      564_11      PLAIN      -       -      to
98       580_4      PLAIN      -       -      to
120      781_2      PLAIN      -       -      to
121     786_21      PLAIN      -       -      to
171    1212_12      PLAIN      -       -      to
180     1281_9      PLAIN      -       -      to
185     1313_5      PLAIN      -       -      to
197     1414_7      PLAIN      -       -      to
203     1466_6      PLAIN      -       -      to
223    1538_10      PLAIN      -       -      to
233     1646_3      PLAIN      -       -      to
245     1771_4      PLAIN      -       -      to
246    1787_19      PLAIN      -       -      to
251     1829_4      PLAIN      -       -      to
257     1883_3      PLAIN      -       -      to
268    1958_16      PLAIN      -       -      to
281    2008_15      PLAIN      -       -      to
318     2362_1      PLAIN      -       -      to
322     2442_9      PLAIN      -       -      to
...        ...        ...    ...     ...     ...
7298  67823_19      PLAIN      -       -      to
7309   67910_1      PLAIN      -       -      to
7316  67938_15      PLAIN      -       -      to
7322   67991_3      PLAIN      -       -      to
7324   68003_1      PLAIN      -       -      to
7326   68026_9      PLAIN      -       -      to
7334  68109_17      PLAIN      -       -      to
7337   68118_3      PLAIN      -       -      to
7341   68166_4      PLAIN      -       -      to
7350  68308_11      PLAIN      -       -      to
7352   68326_5      PLAIN      -       -      to
7353  68327_23      PLAIN      -       -      to
7363  68519_15      PLAIN      -       -      to
7364  68527_13      PLAIN      -       -      to
7371   68684_8      PLAIN      -       -      to
7402  69073_19      PLAIN      -       -      to
7406   69082_9      PLAIN      -       -      to
7418  69114_16      PLAIN      -       -      to
7423  69127_15      PLAIN      -       -      to
7425  69127_22      PLAIN      -       -      to
7435  69245_18      PLAIN      -       -      to
7453   69476_6      PLAIN      -       -      to
7462   69627_4      PLAIN      -       -      to
7463  69627_10      PLAIN      -       -      to
7468  69659_14      PLAIN      -       -      to
7469  69659_26      PLAIN      -       -      to
7481   69826_5      PLAIN      -       -      to
7486   69879_9      PLAIN      -       -      to
7490   69903_1      PLAIN      -       -      to
7492   69916_7      PLAIN      -       -      to

[969 rows x 5 columns]

In [13]:
mea_df = compare_df[compare_df["class_pred"] == "MEASURE"]

In [35]:
mea_df[900:]

,id,class_pred,before,after_x,after_y
6844,63580_16,MEASURE,18.7 g,18.7 g,eighteen point seven grams
6846,63594_11,MEASURE,450 hectares,four hundred and fifty hectares,four hundred fifty ectare hour second
6847,63604_1,MEASURE,30 south,thirty south,thirty out second hour
6849,63636_0,MEASURE,"5""",five inches,"5"""
6850,63641_5,MEASURE,202 km/hr,two hundred and two km/hr,two hundred two r kilometers per hour
6865,63799_11,MEASURE,3.5 hours,3.5 hours,three point five our hour second
6869,63828_3,MEASURE,38 miles,thirty-eight miles,thirty eight le miles second
6874,63905_6,MEASURE,50 metres,fifty metres,fifty etre meters second
6883,63957_2,MEASURE,209 weeks,two hundred and nine weeks,two hundred nine week second
6920,64326_4,MEASURE,2min,2min,twon miles
6933,64431_7,MEASURE,/L,/L,L per
6939,64562_1,MEASURE,18.5 months,18.5 months,eighteen point five ont meters hour second
6951,64649_6,MEASURE,"1,455.3 km²",1455.3 km²,one thousand four hundred fifty five point thr...
6959,64698_2,MEASURE,23 ounces,twenty-three ounces,twenty three ounce second
6966,64757_3,MEASURE,9 kilometres,nine kilometres,nine kiloetre meters second
6971,64780_1,MEASURE,14 months,fourteen months,fourteen ont meters hour second
6972,64782_17,MEASURE,1.5 metres,1.5 metres,one point five etre meters second
6973,64795_5,MEASURE,236 sq mi,two hundred and thirty-six sq mi,two hundred thirty six square miles
6989,64910_10,MEASURE,34.2 MW,34.2 MW,thirty four point two megawatts
7010,65151_1,MEASURE,2140 hours,"two thousand, one hundred and forty hours",two thousand one hundred forty our hour second
7017,65187_5,MEASURE,500 metres,five hundred metres,five hundred etre meters second
7049,65628_5,MEASURE,"4,200 acres","four thousand, two hundred acres",four thousand two hundred acre second
7060,65712_4,MEASURE,"5,186.1 acres",5186.1 acres,five thousand one hundred eighty six point one...
7061,65712_6,MEASURE,20.987 km²,20.987 km²,twenty point nine eight seven square kilometers
7069,65777_4,MEASURE,40 meters,forty meters,forty eter meters second
7086,65888_8,MEASURE,"10,000th",ten thousandth,ten thousandt hour
7093,65945_22,MEASURE,12.7 hours,12.7 hours,twelve point seven our hour second
7094,65950_10,MEASURE,36.2 km²,36.2 km²,thirty six point two square kilometers
7099,65976_11,MEASURE,82.15%,82.15%,eighty two point one five percent
7111,66105_10,MEASURE,45 tonnes,forty-five tonnes,forty five tonne second
...,...,...,...,...,...
7263,67441_14,MEASURE,90 feet,ninety feet,90 feet
7276,67594_1,MEASURE,83 %,eighty-three %,eighty three percent
7278,67612_14,MEASURE,"1,010 km²",one thousand and ten km²,one thousand ten square kilometers
7281,67660_10,MEASURE,407.9/km²,407.9/km²,four hundred seven point nine per square kilom...
7299,67831_5,MEASURE,15 kilometres,fifteen kilometres,fifteen kiloetre meters second
7311,67918_2,MEASURE,"86,400 square","eighty-six thousand, four hundred square",eighty six thousand four hundred uare square
7312,67918_5,MEASURE,"8,030 m²",eight thousand and thirty square meters,eight thousand thirty square meters
7314,67928_15,MEASURE,"1,600 metres","one thousand, six hundred metres",one thousand six hundred etre meters second
7317,67940_4,MEASURE,"3,858 hectares","three thousand, eight hundred and fifty-eight ...",three thousand eight hundred fifty eight ectar...
7318,67940_6,MEASURE,"9,530 acres","nine thousand, five hundred and thirty acres",nine thousand five hundred thirty acre second
7329,68055_4,MEASURE,600 tons,six hundred tons,six hundred ton second
7340,68164_11,MEASURE,1.5 nautical miles,1.5 nautical miles,one point five nautical le miles second
7360,68503_1,MEASURE,49ers,49ers,forty nineer second
7361,68510_10,MEASURE,27.5/sq mi,27.5/sq mi,twenty seven point five per square miles
7376,68727_3,MEASURE,100 kPa,one hundred kilopascals,100 kPa
7383,68767_14,MEASURE,36.5 mi,36.5 mi,thirty six point five miles
7394,68865_1,MEASURE,49ers,49ers,forty nineer second
7400,69047_8,MEASURE,76ers,76ers,seventy sixer second
7403,69076_10,MEASURE,10 months,ten months,ten ont meters hour second
7408,69084_18,MEASURE,16 KiB,16 KiB,sixteen Ki bytes
7415,69109_19,MEASURE,3 minutes,three minutes,three nute miles second
7416,69109_21,MEASURE,642.12 grams,642.12 grams,six hundred forty two point one two ra grams m...
7429,69174_6,MEASURE,100 mSv/yr,one hundred mSv/yr,one hundred Sv meters per years
7434,69215_1,MEASURE,4 Kg,four kilograms,four K grams
7439,69273_4,MEASURE,49ers,49ers,forty nineer second
7452,69463_5,MEASURE,6 seconds,six seconds,six econd second second
7454,69498_4,MEASURE,120 miles,one hundred and twenty miles,one hundred twenty le miles second
7466,69655_7,MEASURE,8 million m²,8 million m²,eight llion miles square meters
7467,69655_13,MEASURE,3.3 million m²,3.3 million square meters,three point three llion miles square meters
7499,69982_4,MEASURE,"15,500 km²","fifteen thousand, five hundred km²",fifteen thousand five hundred square kilometers

In [6]:
compare_df[compare_df["class_pred"] == "ADDRESS"]

,id,class_pred,before,after_x,after_y
219,2614_2,ADDRESS,M407,M407,m four o seven
227,2709_5,ADDRESS,I24,I24,i twenty four
354,4216_13,ADDRESS,C151,c one five one,c one fifty one
520,5840_18,ADDRESS,M217,m two one seven,m two seventeen
699,7480_3,ADDRESS,M174,m one seven four,m one seventy four
1244,13232_17,ADDRESS,A319,a three one nine,a three nineteen
1366,14363_6,ADDRESS,B10308,B10308,b one o three o eight
1681,17520_1,ADDRESS,B53,B53,b fifty three
1682,17520_3,ADDRESS,B53,B53,b fifty three
1895,19628_5,ADDRESS,B127,B127,b one twenty seven
1902,19696_15,ADDRESS,A6514,A6514,a sixty five fourteen
1984,20638_6,ADDRESS,A332,A332,a three thirty two
2050,21403_2,ADDRESS,M346,m three four six,m three forty six
2065,21519_1,ADDRESS,C4431,c four four three one,c forty four thirty one
2225,23012_3,ADDRESS,B456,b four five six,b four fifty six
2431,24860_3,ADDRESS,B727,b seven two seven,b seven twenty seven
2455,25137_6,ADDRESS,M175,m one seven five,m one seventy five
2456,25137_14,ADDRESS,M268,m two six eight,m two sixty eight
2457,25137_18,ADDRESS,M122,m one two two,m one twenty two
2700,27386_6,ADDRESS,C11025,C11025,c one one o two five
2835,28983_10,ADDRESS,I-8700,I-8700,i eighty seven o o
2940,30067_2,ADDRESS,A005898,A005898,a o o five eight nine eight
2981,30382_14,ADDRESS,B667,B667,b six sixty seven
3190,32350_1,ADDRESS,C4248,C4248,c forty two forty eight
3225,32742_7,ADDRESS,C794,C794,c seven ninety four
3228,32769_9,ADDRESS,C321,c three two one,c three twenty one
3531,35885_9,ADDRESS,M119,M119,m one nineteen
3602,36469_1,ADDRESS,I 012,I twelve,i o twelve
3850,38837_13,ADDRESS,B1620,b one six two o,b sixteen twenty
4128,41670_3,ADDRESS,A272,A272,a two seventy two
4258,42845_3,ADDRESS,A642,a six four two,a six forty two
4314,43501_14,ADDRESS,B3916,B3916,b thirty nine sixteen
4466,44959_11,ADDRESS,A324,a three two four,a three twenty four
4539,45649_5,ADDRESS,C1028,c one o two eight,c ten twenty eight
4730,47974_8,ADDRESS,A3212,A3212,a thirty two twelve
4802,48638_1,ADDRESS,M1383,m one three eight three,m thirteen eighty three
4825,48893_3,ADDRESS,M1113,M1113,m eleven thirteen
4885,49541_7,ADDRESS,M172,m one seven two,m one seventy two
5118,51621_9,ADDRESS,M172,m one seven two,m one seventy two
5308,53784_10,ADDRESS,A483,a four eight three,a four eighty three
5681,57058_2,ADDRESS,A106436,A106436,a one o six four three six
5757,57794_3,ADDRESS,M1859,M1859,m eighteen fifty nine
5932,59458_4,ADDRESS,M365,M365,m three sixty five
6066,60688_16,ADDRESS,B3165,b three one six five,b thirty one sixty five
6317,63011_1,ADDRESS,A233,a two three three,a two thirty three
6576,65569_6,ADDRESS,B04401,B04401,b o four four o one
6623,66050_2,ADDRESS,A1978,A1978,a nineteen seventy eight
6656,66414_0,ADDRESS,B247,B247,b two forty seven

In [11]:
compare_df[compare_df["class_pred"] == "CARDINAL"]

,id,class_pred,before,after_x,after_y
14,95_4,CARDINAL,2020,twenty twenty,two thousand twenty
57,297_0,CARDINAL,1716196,"one million, seven hundred and sixteen thousan...",one million seven hundred sixteen thousand one...
70,368_0,CARDINAL,"5629580,","five million, six hundred and twenty-nine thou...",five million six hundred twenty nine thousand ...
80,433_3,CARDINAL,534054,five hundred and thirty-four thousand and fift...,five hundred thirty four thousand fifty four
87,492_5,CARDINAL,54800,"fifty-four thousand, eight hundred",fifty four thousand eight hundred
100,592_1,CARDINAL,401970,"four hundred and one thousand, nine hundred an...",four hundred one thousand nine hundred seventy
102,621_6,CARDINAL,2016,twenty sixteen,two thousand sixteen
110,694_11,CARDINAL,"506,450","five hundred and six thousand, four hundred an...",five hundred six thousand four hundred fifty
125,814_11,CARDINAL,"68,261","sixty-eight thousand, two hundred and sixty-one",sixty eight thousand two hundred sixty one
189,1334_18,CARDINAL,12102972,"twelve million, one hundred and two thousand, ...",twelve million one hundred two thousand nine h...
204,1466_13,CARDINAL,19509,one nine five o nine,nineteen thousand five hundred nine
219,1518_15,CARDINAL,2015,twenty fifteen,two thousand fifteen
247,1801_12,CARDINAL,"51,337","fifty-one thousand, three hundred and thirty-s...",fifty one thousand three hundred thirty seven
283,2016_6,CARDINAL,9127068838,"nine billion, one hundred and twenty-seven mil...",nine billion one hundred twenty seven million ...
291,2130_10,CARDINAL,222142,"two hundred and twenty-two thousand, one hundr...",two hundred twenty two thousand one hundred fo...
297,2172_6,CARDINAL,203,two o three,two hundred three
315,2337_4,CARDINAL,2500,two thousand five hundred,twenty-five hundred
316,2352_2,CARDINAL,"89,087",eighty-nine thousand and eighty-seven,eighty nine thousand eighty seven
320,2385_13,CARDINAL,2013,twenty thirteen,two thousand thirteen
333,2489_8,CARDINAL,"18,000,000 square","18,000,000 square",18000000square
356,2701_1,CARDINAL,20530070,"twenty million, five hundred and thirty thousa...",twenty million five hundred thirty thousand se...
357,2701_8,CARDINAL,2010,twenty ten,two thousand ten
368,2791_5,CARDINAL,"5,952,796","5,952,796",five million nine hundred fifty two thousand s...
372,2818_1,CARDINAL,15034586,"fifteen million, thirty-four thousand, five hu...",fifteen million thirty four thousand five hund...
416,3105_4,CARDINAL,2015,twenty fifteen,two thousand fifteen
423,3150_12,CARDINAL,2014,twenty fourteen,two thousand fourteen
475,3533_3,CARDINAL,I,I,one
487,3653_3,CARDINAL,201724,"two hundred and one thousand, seven hundred an...",two hundred one thousand seven hundred twenty ...
500,3798_7,CARDINAL,1995,nineteen ninety five,one thousand nine hundred ninety five
503,3829_2,CARDINAL,2663,two thousand six hundred sixty three,twenty six sixty three
...,...,...,...,...,...
7169,66656_17,CARDINAL,04,o four,four
7173,66709_1,CARDINAL,1985,nineteen eighty five,one thousand nine hundred eighty five
7231,67199_1,CARDINAL,567094,five hundred and sixty-seven thousand and nine...,five hundred sixty seven thousand ninety four
7234,67220_2,CARDINAL,2011,twenty eleven,two thousand eleven
7260,67440_7,CARDINAL,2016,twenty sixteen,two thousand sixteen
7261,67440_9,CARDINAL,2017,twenty seventeen,two thousand seventeen
7280,67651_5,CARDINAL,254090,two hundred and fifty-four thousand and ninety,two hundred fifty four thousand ninety
7287,67696_6,CARDINAL,"931,210","nine hundred and thirty-one thousand, two hund...",nine hundred thirty one thousand two hundred ten
7293,67809_4,CARDINAL,1936,nineteen thirty six,one thousand nine hundred thirty six
7300,67834_13,CARDINAL,07,o seven,seven
7308,67905_1,CARDINAL,9781461206194,"nine trillion, seven hundred and eighty-one bi...",nine trillion seven hundred eighty one billion...
7319,67943_9,CARDINAL,394140,"three hundred and ninety-four thousand, one hu...",three hundred ninety four thousand one hundred...
7346,68231_5,CARDINAL,1914,nineteen fourteen,one thousand nine hundred fourteen
7355,68394_5,CARDINAL,193 000,one hundred and ninety-three zero,one hundred ninety three thousand
7365,68533_8,CARDINAL,2011,twenty eleven,two thousand eleven
7381,68757_11,CARDINAL,2012,twenty twelve,two thousand twelve
7395,68882_6,CARDINAL,275900,"two hundred and seventy-five thousand, nine hu...",two hundred seventy five thousand nine hundred
7410,69094_3,CARDINAL,2015,twenty fifteen,two thousand fifteen
7420,69127_1,CARDINAL,2016,twenty sixteen,two thousand sixteen
7426,69150_1,CARDINAL,1606930230,"one billion, six hundred and six million, nine...",one billion six hundred six million nine hundr...
7428,69169_15,CARDINAL,:(,sad face sil,(
7431,69205_13,CARDINAL,I,I,one
7433,69213_16,CARDINAL,"279,390","two hundred and seventy-nine thousand, three h...",two hundred seventy nine thousand three hundre...
7437,69264_11,CARDINAL,9788360748732,"nine trillion, seven hundred and eighty-eight ...",nine trillion seven hundred eighty eight billi...
7440,69301_9,CARDINAL,2488,two thousand four hundred eighty eight,twenty four eighty eight
7442,69318_15,CARDINAL,22-,two two,twenty two
7465,69643_8,CARDINAL,I,I,one
7487,69882_3,CARDINAL,"-27,716",-27716,minus twenty seven thousand seven hundred sixteen
7497,69961_1,CARDINAL,1998,nineteen ninety eight,one thousand nine hundred ninety eight
7498,69966_16,CARDINAL,"250,010",two hundred and fifty thousand and ten,two hundred fifty thousand ten

In [14]:
cv = compare_df[compare_df["class_pred"] == "CARDINAL"]["before"].values
count = 0
for one in cv:
    if one.isdigit() and int(one)<=3000 and int(one) >=1000:
        count += 1
print("count: ", count)

count:  939

In [8]:
compare_df[compare_df["class_pred"] == "DATE"]

,id,class_pred,before,after_x,after_y
44,443_16,DATE,00s,o o,zeros
46,485_4,DATE,17th December 2015,17th December two thousand and fifteen,the seventeenth of december twenty fifteen
47,513_0,DATE,09/08/1943,09/08/1943,the eighth of september nineteen forty three
64,669_11,DATE,"July 15, 1834","July fifteen one thousand, eight hundred and t...",july fifteenth eighteen thirty four
65,702_7,DATE,"December 29, 1676","December twenty-nine one thousand, six hundred...",december twenty ninth sixteen seventy six
72,760_1,DATE,2 April 1672,"two April one thousand, six hundred and sevent...",the second of april sixteen seventy two
138,1610_7,DATE,"March 29, 1863","March twenty-nine one thousand, eight hundred ...",march twenty ninth eighteen sixty three
144,1721_22,DATE,03.03.2016,the third of march twenty sixteen,03.03.2016
154,1886_15,DATE,July 4 2013,July four two thousand and thirteen,july fourth twenty thirteen
165,2069_3,DATE,"Tuesday, 13 May 2014",Tuesday thirteen May two thousand and fourteen,tuesday the thirteenth of may twenty fourteen
168,2092_1,DATE,218 BC,two eighteen b c,218 b c
176,2129_1,DATE,Sun. 2010-02-10,sunday the tenth of february twenty ten,sunday . 2010-02-10
182,2196_4,DATE,"August 30th, 1948","August 30th one thousand, nine hundred and for...",august thirtieth nineteen forty eight
206,2462_0,DATE,The 25 June 2016,The twenty-five June two thousand and sixteen,the 25 june 2016
231,2741_2,DATE,9 August 1880,"nine August one thousand, eight hundred and ei...",the ninth of august eighteen eighty
261,3069_5,DATE,the 28 May 1926,the twenty eighth of may nineteen twenty six,the 28 may 1926
268,3161_14,DATE,597 BCE.,five ninety seven b c e,the five hundred and ninety seventh of odd!~! b c
277,3221_6,DATE,"December 26th, 1895","December 26th one thousand, eight hundred and ...",december twenty sixth eighteen ninety five
304,3616_9,DATE,1 September 1602,"one September one thousand, six hundred and two",the first of september sixteen o two
309,3654_17,DATE,03-11-2015,03-11-2015,the third of november twenty fifteen
312,3691_2,DATE,2008-18-03,2008-18-03,the third of odd!~! two thousand eight
327,3925_2,DATE,109s,one hundred nines,109s
384,4565_4,DATE,Jan 27 2016,Jan twenty-seven two thousand and sixteen,january twenty seventh twenty sixteen
406,4750_8,DATE,"Sunday, 29 March",Sunday twenty-nine March,sunday the twenty ninth of march
408,4776_2,DATE,"Friday October 2nd, 1835","Friday October 2nd one thousand, eight hundred...",friday october second eighteen thirty five
409,4776_5,DATE,"Saturday January 18th, 1862","Saturday January 18th one thousand, eight hund...",saturday january eighteenth eighteen sixty two
416,4836_16,DATE,20 May 1625,"twenty May one thousand, six hundred and twent...",the twentieth of may sixteen twenty five
422,4870_9,DATE,20-04-02,20-04-02,the twentieth of april o two
429,4936_16,DATE,"July 1, 1788","July one one thousand, seven hundred and eight...",july first seventeen eighty eight
436,5058_1,DATE,"Sun. October 14, 2010",sunday october fourteenth twenty ten,"sunday . october 14, 2010"
...,...,...,...,...,...
6573,65556_11,DATE,24th Nov 2015,24th Nov two thousand and fifteen,the twenty fourth of november twenty fifteen
6581,65646_11,DATE,1000 BCE.,one thousand b c e,the one thousandth of odd!~! b c
6614,65948_8,DATE,31-03-2015,31-03-2015,the thirty first of march twenty fifteen
6635,66149_6,DATE,14 September 1673,"fourteen September one thousand, six hundred a...",the fourteenth of september sixteen seventy three
6652,66388_1,DATE,12/15/08,december fifteenth o eight,the fifteenth of december o eight
6666,66511_9,DATE,June 23 rd 2014,June twenty-three rd two thousand and fourteen,june 23 rd 2014
6671,66592_2,DATE,185s,one eighty fives,185s
6690,66776_6,DATE,"Mar 08, 1981","Mar eight one thousand, nine hundred and eight...",march eighth nineteen eighty one
6703,66895_1,DATE,"Apr 3, 2000",Apr three two thousand,april third two thousand
6720,67004_2,DATE,2-10-2,two sil one o sil two,the second of october odd!~!
6722,67025_3,DATE,"March 18, 1803","March eighteen one thousand, eight hundred and...",march eighteenth eighteen o three
6727,67083_4,DATE,2 Dec. 2006,two Dec. two thousand and six,the second of december two thousand six
6742,67277_6,DATE,22/03/2010,the twenty second of march twenty ten,the third of odd!~! twenty ten
6744,67325_13,DATE,"2 October, 2015",two October two thousand and fifteen,the second of october twenty fifteen
6760,67491_6,DATE,25.03.1848,the twenty fifth of march eighteen forty eight,25.03.1848
6783,67688_22,DATE,"April 09, 2008",April nine two thousand and eight,april ninth two thousand eight
6804,67830_14,DATE,10.12.2012,the twelfth of october twenty twelve,10.12.2012
6850,68250_11,DATE,13.01.2015,the thirteenth of january twenty fifteen,13.01.2015
6856,68330_8,DATE,534 CE,five hundred and thirty-four CE,the five hundred and thirty fourth of odd!~!
6857,68331_10,DATE,8 May 1473,"eight May one thousand, four hundred and seven...",the eighth of may fourteen seventy three
6868,68412_17,DATE,1982-06-21,1982-06-21,the twenty first of june nineteen eighty two
6872,68492_17,DATE,03-02-2007,03-02-2007,the third of february two thousand seven
6873,68504_7,DATE,4AD.,o four a d,4. a d
6878,68618_9,DATE,100's,one hundreds,100s
6883,68649_7,DATE,10 October 1864,"ten October one thousand, eight hundred and si...",the tenth of october eighteen sixty four
6892,68703_4,DATE,"Apr. 3, 1998","Apr. three one thousand, nine hundred and nine...",april third nineteen ninety eight
6961,69485_9,DATE,"February 27, 2026",February twenty-seven two thousand and twenty-six,february twenty seventh twenty twenty six
6968,69582_6,DATE,6 October 1852,"six October one thousand, eight hundred and fi...",the sixth of october eighteen fifty two
6978,69676_22,DATE,08/11/2011,08/11/2011,the eleventh of august twenty eleven
7005,69958_0,DATE,"Saturday, 8 February 1919","Saturday eight February one thousand, nine hun...",saturday the eighth of february nineteen nineteen

In [16]:
cv = compare_df[compare_df["class_pred"] == "DATE"]["before"].values
count = 0
for one in cv:
    if one.isdigit() and int(one)<=3000 and int(one) >=1000:
        count += 1
print("count: ", count)

count:  419

In [7]:
plain_df = compare_df[compare_df["class_pred"] == "PLAIN"]
plain_df

,id,class_pred,before,after_x,after_y
0,4_6,PLAIN,Dn,d n,Dn
1,6_6,PLAIN,-,-,to
4,28_2,PLAIN,Vrba,v r b a,Vrba
8,71_22,PLAIN,-,-,to
10,89_3,PLAIN,:,:,to
11,105_4,PLAIN,kg/m3,kilogram per cubic meter,kg/m3
14,122_8,PLAIN,-,-,to
15,124_2,PLAIN,-,-,to
16,133_2,PLAIN,TheDeadBallEra.com,t_letter h_letter e_letter d_letter e_letter a...,t h e d e a d b a l l e r a dot c o m
17,154_7,PLAIN,-,-,to
18,160_4,PLAIN,fno,f n o,fno
19,161_2,PLAIN,-,-,to
23,176_13,PLAIN,-,-,to
24,188_5,PLAIN,koei,k o e i,koei
26,210_4,PLAIN,:,:,to
27,216_0,PLAIN,WILO,w i l o,WILO
29,221_7,PLAIN,:,:,to
30,249_16,PLAIN,-,-,to
31,283_6,PLAIN,-,-,to
32,287_15,PLAIN,-,-,to
35,372_0,PLAIN,Oya,o y a,Oya
42,424_6,PLAIN,-,-,to
43,424_12,PLAIN,-,-,to
46,449_12,PLAIN,-,-,to
51,531_0,PLAIN,PRONEBI,p r o n e b i,PRONEBI
52,547_12,PLAIN,fikr,f i k r,fikr
54,555_0,PLAIN,Ulfr,u l f r,Ulfr
55,555_6,PLAIN,etr,e t r,etr
56,583_1,PLAIN,Nintendojo.com,n_letter i_letter n_letter t_letter e_letter n...,n i n t e n d o j o dot c o m
64,666_14,PLAIN,Ho'o,h o o,Ho'o
...,...,...,...,...,...
7093,69387_2,PLAIN,liwwa,l i w w a,liwwa
7095,69390_4,PLAIN,-,-,to
7096,69395_0,PLAIN,Ifft,i f f t,Ifft
7098,69415_18,PLAIN,-,-,to
7099,69418_2,PLAIN,-,-,to
7100,69420_8,PLAIN,-,-,to
7101,69427_17,PLAIN,ajp,a j p,ajp
7103,69430_7,PLAIN,-,-,to
7104,69462_18,PLAIN,-,-,to
7105,69468_13,PLAIN,-,-,to
7109,69502_13,PLAIN,mn,m n,mn
7111,69530_8,PLAIN,Na'ima,n a i m a,Na'ima
7112,69537_2,PLAIN,Bolg,b o l g,Bolg
7113,69561_12,PLAIN,-,-,to
7118,69620_12,PLAIN,-,-,to
7123,69652_7,PLAIN,-,-,to
7127,69682_11,PLAIN,:,:,to
7128,69687_2,PLAIN,:,:,to
7129,69687_4,PLAIN,-,-,to
7130,69717_6,PLAIN,mpg,m p g,mpg
7131,69719_5,PLAIN,caEt,c a e t,caEt
7132,69724_1,PLAIN,-,-,to
7133,69752_2,PLAIN,pKa,p k a,pKa
7134,69761_14,PLAIN,-,-,to
7135,69761_21,PLAIN,-,-,to
7136,69761_29,PLAIN,-,-,to
7137,69768_13,PLAIN,Gothtronic.com,g_letter o_letter t_letter h_letter t_letter r...,g o t h t r o n i c dot c o m
7139,69817_8,PLAIN,Blacksadmania.com,Blacksadmania.com,b l a c k s a d m a n i a dot c o m
7145,69877_4,PLAIN,-,-,to
7148,69928_5,PLAIN,Ared,a r e d,Ared

In [8]:
plain_df_f1 = plain_df.loc[plain_df["before"] != "-"]
plain_df_f2 = plain_df_f1.loc[plain_df_f1["before"] != ":"]
plain_df_f2

,id,class_pred,before,after_x,after_y
0,4_6,PLAIN,Dn,d n,Dn
4,28_2,PLAIN,Vrba,v r b a,Vrba
11,105_4,PLAIN,kg/m3,kilogram per cubic meter,kg/m3
16,133_2,PLAIN,TheDeadBallEra.com,t_letter h_letter e_letter d_letter e_letter a...,t h e d e a d b a l l e r a dot c o m
18,160_4,PLAIN,fno,f n o,fno
24,188_5,PLAIN,koei,k o e i,koei
27,216_0,PLAIN,WILO,w i l o,WILO
35,372_0,PLAIN,Oya,o y a,Oya
51,531_0,PLAIN,PRONEBI,p r o n e b i,PRONEBI
52,547_12,PLAIN,fikr,f i k r,fikr
54,555_0,PLAIN,Ulfr,u l f r,Ulfr
55,555_6,PLAIN,etr,e t r,etr
56,583_1,PLAIN,Nintendojo.com,n_letter i_letter n_letter t_letter e_letter n...,n i n t e n d o j o dot c o m
64,666_14,PLAIN,Ho'o,h o o,Ho'o
68,722_5,PLAIN,FIM,f i m,FIM
77,781_1,PLAIN,slso,s l s o,slso
79,789_10,PLAIN,Pos,p o's,Pos
80,799_10,PLAIN,Allaboutjazz.comSimone,a_letter l_letter l_letter a_letter b_letter o...,a l l a b o u t j a z z dot c o m s i m o n e
96,1040_19,PLAIN,Als,a l's,Als
100,1073_2,PLAIN,sql,s q l,sql
101,1081_0,PLAIN,Ze'ev,z e e v,Ze'ev
104,1117_2,PLAIN,PROKLOVA,p r o k l o v a,PROKLOVA
105,1143_16,PLAIN,BIM,b i m,BIM
119,1327_21,PLAIN,Aab,a a b,Aab
126,1395_10,PLAIN,Aku,a k u,Aku
131,1497_3,PLAIN,LI,l i,LI
132,1501_3,PLAIN,KALIKASAN,k a l i k a s a n,KALIKASAN
138,1578_1,PLAIN,DeRuyterDraftHistory.com,d_letter e_letter r_letter u_letter y_letter t...,d e r u y t e r d r a f t h i s t o r y dot c o m
139,1584_0,PLAIN,Dwer,d w e r,Dwer
157,1840_6,PLAIN,BAGSDISCOUNT,b a g s d i s c o u n t,BAGSDISCOUNT
...,...,...,...,...,...
7000,68330_2,PLAIN,jus,j u s,jus
7009,68355_0,PLAIN,Businessweek.com,b_letter u_letter s_letter i_letter n_letter e...,b u s i n e s s w e e k dot c o m
7015,68460_18,PLAIN,Infa,i n f a,Infa
7020,68566_0,PLAIN,Agis,a g i's,Agis
7025,68623_6,PLAIN,epg,e p g,epg
7027,68637_6,PLAIN,Ntigha,n t i g h a,Ntigha
7029,68656_14,PLAIN,Worldpress.org,w_letter o_letter r_letter l_letter d_letter p...,w o r l d p r e s s dot o r g
7031,68672_10,PLAIN,vor,v o r,vor
7040,68716_0,PLAIN,SARU,s a r u,SARU
7046,68776_6,PLAIN,Iat,i a t,Iat
7052,68834_11,PLAIN,SEM,s e m,SEM
7059,68914_16,PLAIN,FightersOnly.comChuck,FightersOnly.comChuck,f i g h t e r s o n l y dot c o m c h u c k
7060,68917_6,PLAIN,AdultFilmDatabase.com,a_letter d_letter u_letter l_letter t_letter f...,a d u l t f i l m d a t a b a s e dot c o m
7061,68930_3,PLAIN,dj,d j,dj
7066,69012_4,PLAIN,Facebakers.com,Facebakers.com,f a c e b a k e r s dot c o m
7070,69086_10,PLAIN,Xiyu,x i y u,Xiyu
7081,69238_10,PLAIN,tuc,t u c,tuc
7088,69329_0,PLAIN,FITSAT-,f i t s a t,FITSAT-
7093,69387_2,PLAIN,liwwa,l i w w a,liwwa
7096,69395_0,PLAIN,Ifft,i f f t,Ifft
7101,69427_17,PLAIN,ajp,a j p,ajp
7109,69502_13,PLAIN,mn,m n,mn
7111,69530_8,PLAIN,Na'ima,n a i m a,Na'ima
7112,69537_2,PLAIN,Bolg,b o l g,Bolg
7130,69717_6,PLAIN,mpg,m p g,mpg
7131,69719_5,PLAIN,caEt,c a e t,caEt
7133,69752_2,PLAIN,pKa,p k a,pKa
7137,69768_13,PLAIN,Gothtronic.com,g_letter o_letter t_letter h_letter t_letter r...,g o t h t r o n i c dot c o m
7139,69817_8,PLAIN,Blacksadmania.com,Blacksadmania.com,b l a c k s a d m a n i a dot c o m
7148,69928_5,PLAIN,Ared,a r e d,Ared

In [19]:
plain_df_f2.loc[plain_df_f2["before"].apply(lambda x: "." in str(x))]

,id,class_pred,before,after_x,after_y
16,133_2,PLAIN,TheDeadBallEra.com,t_letter h_letter e_letter d_letter e_letter a...,TheDeadBallEra.com
56,583_1,PLAIN,Nintendojo.com,n_letter i_letter n_letter t_letter e_letter n...,Nintendojo.com
82,799_10,PLAIN,Allaboutjazz.comSimone,a_letter l_letter l_letter a_letter b_letter o...,Allaboutjazz.comSimone
140,1578_1,PLAIN,DeRuyterDraftHistory.com,d_letter e_letter r_letter u_letter y_letter t...,DeRuyterDraftHistory.com
252,2891_7,PLAIN,GhanaDistricts.com,g_letter h_letter a_letter n_letter a_letter d...,GhanaDistricts.com
258,2949_0,PLAIN,ApunKaChoice.com,a_letter p_letter u_letter n_letter k_letter a...,ApunKaChoice.com
344,3949_3,PLAIN,mpNepalnews.com,m_letter _letter p_letter _letter n_letter e...,mpNepalnews.com
346,3997_0,PLAIN,Marketplace.org,m_letter a_letter r_letter k_letter e_letter t...,Marketplace.org
355,4094_0,PLAIN,SwindonSoccerbase.com,s_letter w_letter i_letter n_letter d_letter o...,SwindonSoccerbase.com
384,4412_7,PLAIN,Michiguide.com,m_letter i_letter c_letter h_letter i_letter g...,Michiguide.com
626,6589_19,PLAIN,Armyrecognition.com,a_letter r_letter m_letter y_letter r_letter e...,Armyrecognition.com
634,6660_15,PLAIN,Ilfordrecorder.co.uk,i_letter l_letter f_letter o_letter r_letter d...,Ilfordrecorder.co.uk
649,6839_6,PLAIN,AllBusiness.com,a_letter l_letter l_letter b_letter u_letter s...,AllBusiness.com
660,6923_0,PLAIN,Jacksonville.com,j_letter a_letter c_letter k_letter s_letter o...,Jacksonville.com
690,7210_0,PLAIN,PRNewswire.com,p_letter r_letter n_letter e_letter w_letter s...,PRNewswire.com
730,7629_1,PLAIN,RunnerSpace.com/VA,r_letter u_letter n_letter n_letter e_letter r...,RunnerSpace.com/VA
762,8036_8,PLAIN,Commonsin-Arch.net,c_letter o_letter m_letter m_letter o_letter n...,Commonsin-Arch.net
854,9037_5,PLAIN,TicketStumbler.com,t_letter i_letter c_letter k_letter e_letter t...,TicketStumbler.com
858,9103_5,PLAIN,coastalplain.com,c_letter o_letter a_letter s_letter t_letter a...,coastalplain.com
1127,11858_8,PLAIN,Svenskfotboll.se,s_letter v_letter e_letter n_letter s_letter k...,Svenskfotboll.se
1148,12090_6,PLAIN,coursehttp://in.news.yahoo.com/43/20100224/812...,c_letter _letter o_letter _letter u_letter ...,coursehttp://in.news.yahoo.com/43/20100224/812...
1161,12237_0,PLAIN,KansasCity.com,k_letter a_letter n_letter s_letter a_letter s...,KansasCity.com
1248,13049_12,PLAIN,databaseSports.com,d_letter a_letter t_letter a_letter b_letter a...,databaseSports.com
1323,13757_17,PLAIN,Sciencedirect.com,s_letter c_letter i_letter e_letter n_letter c...,Sciencedirect.com
1352,14043_3,PLAIN,Opensource.com,o_letter p_letter e_letter n_letter s_letter o...,Opensource.com
1356,14104_5,PLAIN,Bizjournals.com,b_letter i_letter z_letter j_letter o_letter u...,Bizjournals.com
1404,14508_10,PLAIN,taftschool.org,t_letter a_letter f_letter t_letter s_letter c...,taftschool.org
1521,15706_0,PLAIN,Swisscastles.ch,s_letter w_letter i_letter s_letter s_letter c...,Swisscastles.ch
1659,17112_3,PLAIN,filmreference.comJason,f_letter i_letter l_letter m_letter r_letter e...,filmreference.comJason
1709,17592_9,PLAIN,CollegeInsiders.com,c_letter o_letter l_letter l_letter e_letter g...,CollegeInsiders.com
...,...,...,...,...,...
5286,52718_5,PLAIN,mathHinduism-guide.com,m_letter a_letter t_letter h_letter h_letter i...,mathHinduism-guide.com
5395,53884_0,PLAIN,DefendAmerica.mil,d_letter e_letter f_letter e_letter n_letter d...,DefendAmerica.mil
5447,54390_11,PLAIN,Acclaimedmusic.net,a_letter c_letter c_letter l_letter a_letter i...,Acclaimedmusic.net
5480,54625_10,PLAIN,steppenwolf.org,s_letter t_letter e_letter p_letter p_letter e...,steppenwolf.org
5517,54898_23,PLAIN,VentureBeat.com,v_letter e_letter n_letter t_letter u_letter r...,VentureBeat.com
5587,55495_6,PLAIN,Interviewespn.com,i_letter n_letter t_letter e_letter r_letter v...,Interviewespn.com
5666,56223_4,PLAIN,Filmportal.de,f_letter i_letter l_letter m_letter p_letter o...,Filmportal.de
5712,56650_14,PLAIN,eg.,e g,eg.
5717,56691_1,PLAIN,Soundtrack.net,s_letter o_letter u_letter n_letter d_letter t...,Soundtrack.net
5718,56691_6,PLAIN,Soundtrack.net,s_letter o_letter u_letter n_letter d_letter t...,Soundtrack.net
5917,58507_13,PLAIN,exclassics.com,e_letter x_letter c_letter l_letter a_letter s...,exclassics.com
5980,59107_12,PLAIN,QueenoftheDamned.com,q_letter u_letter e_letter e_letter n_letter o...,QueenoftheDamned.com
6052,59868_14,PLAIN,Bulgarian-Football.com,b_letter u_letter l_letter g_letter a_letter r...,Bulgarian-Football.com
6084,60057_8,PLAIN,LebaranCeritamu.com,l_letter e_letter b_letter a_letter r_letter a...,LebaranCeritamu.com
6101,60175_6,PLAIN,InsidePulse.com,i_letter n_letter s_letter i_letter d_letter e...,InsidePulse.com
6278,61826_15,PLAIN,Ammunitionrec.guns,a_letter m_letter m_letter u_letter n_letter i...,Ammunitionrec.guns
6332,62246_0,PLAIN,Citationsflightglobal.com,c_letter i_letter t_letter a_letter t_letter i...,Citationsflightglobal.com
6406,63014_0,PLAIN,Britannica.com,b_letter r_letter i_letter t_letter a_letter n...,Britannica.com
6408,63036_16,PLAIN,WindowsNetworking.com,w_letter i_letter n_letter d_letter o_letter w...,WindowsNetworking.com
6494,63835_12,PLAIN,Panzerbaer.de,p_letter a_letter n_letter z_letter e_letter r...,Panzerbaer.de
6688,65800_11,PLAIN,SecondhandSongs.com,s_letter e_letter c_letter o_letter n_letter d...,SecondhandSongs.com
6736,66323_9,PLAIN,TireMonkey.com,t_letter i_letter r_letter e_letter m_letter o...,TireMonkey.com
6765,66637_5,PLAIN,thebacklot.com,t_letter h_letter e_letter b_letter a_letter c...,thebacklot.com
6777,66715_19,PLAIN,artistdirect.com,a_letter r_letter t_letter i_letter s_letter t...,artistdirect.com
6841,67376_7,PLAIN,austriasoccer.atWr,a_letter u_letter s_letter t_letter r_letter i...,austriasoccer.atWr
6926,68071_0,PLAIN,TVShowsonDVD.com,t_letter _letter v_letter _letter s_letter h...,TVShowsonDVD.com
6959,68355_0,PLAIN,Businessweek.com,b_letter u_letter s_letter i_letter n_letter e...,Businessweek.com
6979,68656_14,PLAIN,Worldpress.org,w_letter o_letter r_letter l_letter d_letter p...,Worldpress.org
7010,68917_6,PLAIN,AdultFilmDatabase.com,a_letter d_letter u_letter l_letter t_letter f...,AdultFilmDatabase.com
7087,69768_13,PLAIN,Gothtronic.com,g_letter o_letter t_letter h_letter t_letter r...,Gothtronic.com

In [9]:
def is_com(token):
    import re
    token = str(token)
    pt = re.compile(r"\.[a-zA-Z]{2,}")
    return True if pt.search(token) else False

In [13]:
plain_df_f3 = plain_df_f2.loc[~plain_df_f2["before"].apply(is_com)]
plain_df_f3

,id,class_pred,before,after_x,after_y
0,4_6,PLAIN,Dn,d n,Dn
4,28_2,PLAIN,Vrba,v r b a,Vrba
11,105_4,PLAIN,kg/m3,kilogram per cubic meter,kg/m3
18,160_4,PLAIN,fno,f n o,fno
24,188_5,PLAIN,koei,k o e i,koei
27,216_0,PLAIN,WILO,w i l o,WILO
35,372_0,PLAIN,Oya,o y a,Oya
51,531_0,PLAIN,PRONEBI,p r o n e b i,PRONEBI
52,547_12,PLAIN,fikr,f i k r,fikr
54,555_0,PLAIN,Ulfr,u l f r,Ulfr
55,555_6,PLAIN,etr,e t r,etr
64,666_14,PLAIN,Ho'o,h o o,Ho'o
68,722_5,PLAIN,FIM,f i m,FIM
77,781_1,PLAIN,slso,s l s o,slso
79,789_10,PLAIN,Pos,p o's,Pos
96,1040_19,PLAIN,Als,a l's,Als
100,1073_2,PLAIN,sql,s q l,sql
101,1081_0,PLAIN,Ze'ev,z e e v,Ze'ev
104,1117_2,PLAIN,PROKLOVA,p r o k l o v a,PROKLOVA
105,1143_16,PLAIN,BIM,b i m,BIM
119,1327_21,PLAIN,Aab,a a b,Aab
126,1395_10,PLAIN,Aku,a k u,Aku
131,1497_3,PLAIN,LI,l i,LI
132,1501_3,PLAIN,KALIKASAN,k a l i k a s a n,KALIKASAN
139,1584_0,PLAIN,Dwer,d w e r,Dwer
157,1840_6,PLAIN,BAGSDISCOUNT,b a g s d i s c o u n t,BAGSDISCOUNT
161,1934_1,PLAIN,Voe,v o e,Voe
164,1997_2,PLAIN,I's,the first's,I's
182,2133_10,PLAIN,Fitr,f i t r,Fitr
193,2278_5,PLAIN,BARANTSEV,b a r a n t s e v,BARANTSEV
...,...,...,...,...,...
6943,67790_11,PLAIN,NAFEMS,n a f e m s,NAFEMS
6954,67941_5,PLAIN,EMBA,e m b a,EMBA
6957,67968_14,PLAIN,Krsko,k r s k o,Krsko
6960,67974_2,PLAIN,srx,s r x,srx
6986,68186_12,PLAIN,xda,x d a,xda
6988,68220_0,PLAIN,SIL,s i l,SIL
6999,68313_5,PLAIN,Xe,x e,Xe
7000,68330_2,PLAIN,jus,j u s,jus
7015,68460_18,PLAIN,Infa,i n f a,Infa
7020,68566_0,PLAIN,Agis,a g i's,Agis
7025,68623_6,PLAIN,epg,e p g,epg
7027,68637_6,PLAIN,Ntigha,n t i g h a,Ntigha
7031,68672_10,PLAIN,vor,v o r,vor
7040,68716_0,PLAIN,SARU,s a r u,SARU
7046,68776_6,PLAIN,Iat,i a t,Iat
7052,68834_11,PLAIN,SEM,s e m,SEM
7061,68930_3,PLAIN,dj,d j,dj
7070,69086_10,PLAIN,Xiyu,x i y u,Xiyu
7081,69238_10,PLAIN,tuc,t u c,tuc
7088,69329_0,PLAIN,FITSAT-,f i t s a t,FITSAT-
7093,69387_2,PLAIN,liwwa,l i w w a,liwwa
7096,69395_0,PLAIN,Ifft,i f f t,Ifft
7101,69427_17,PLAIN,ajp,a j p,ajp
7109,69502_13,PLAIN,mn,m n,mn
7111,69530_8,PLAIN,Na'ima,n a i m a,Na'ima
7112,69537_2,PLAIN,Bolg,b o l g,Bolg
7130,69717_6,PLAIN,mpg,m p g,mpg
7131,69719_5,PLAIN,caEt,c a e t,caEt
7133,69752_2,PLAIN,pKa,p k a,pKa
7148,69928_5,PLAIN,Ared,a r e d,Ared

In [9]:
compare_df[compare_df["class_pred"] == "LETTERS"]

            id class_pred      before     after_x              after_y
28       216_2    LETTERS          AM          AM                  a m
39       410_1    LETTERS          GO          GO                  g o
53      553_10    LETTERS         CRI         CRI                c r i
62       604_1    LETTERS          YR        year                  y r
73       750_2    LETTERS        INAH        INAH              i n a h
76      762_16    LETTERS         WEB         WEB                w e b
96      1025_0    LETTERS      RPCS's      RPCS's            r p c s's
108     1149_1    LETTERS       UGO's       UGO's              u g o's
123     1337_1    LETTERS          FE          FE                  f e
158    1811_13    LETTERS      AFIP&T      AFIP&T        a f i p and t
177     2107_0    LETTERS      QCCI's      QCCI's            q c c i's
185     2174_3    LETTERS          mr      mister                  m r
209    2400_13    LETTERS         CAI         CAI                c a i
210     2408_3    LETTERS         evo         evo                e v o
213    2492_11    LETTERS        OMRP        OMRP              o m r p
217     2524_5    LETTERS       Cu4O3       Cu4O3            c u 4 o 3
218     2524_8    LETTERS        Cu2O        Cu2O              c u 2 o
229     2677_0    LETTERS        WCVL        WCVL              w c v l
230     2677_2    LETTERS          AM          AM                  a m
231    2678_10    LETTERS         RAF         RAF                r a f
233     2709_0    LETTERS       RTLTA       RTLTA            r t l t a
256    2929_19    LETTERS          sr      senior                  s r
260     2950_7    LETTERS          SM          SM                  s m
263     2962_8    LETTERS       WKYS-       WKYS-              w k y s
273     3159_3    LETTERS        CWD-        CWD-                c w d
280     3214_3    LETTERS         HSU         HSU                h s u
281     3214_7    LETTERS  SOROOSHIAN  SOROOSHIAN  s o r o o s h i a n
291     3355_6    LETTERS        KUBs        KUBs              k u b's
294    3371_14    LETTERS       AHDE-       AHDE-              a h d e
303     3428_1    LETTERS    INFINITE    INFINITE      i n f i n i t e
...        ...        ...         ...         ...                  ...
6715  66060_14    LETTERS        OFKs        OFKs              o f k's
6739  66359_18    LETTERS         wyd         wyd                w y d
6744   66413_8    LETTERS        CIGS        CIGS              c i g s
6748  66432_12    LETTERS        PeMa        PeMa              p e m a
6757   66539_7    LETTERS       CSAWG       CSAWG            c s a w g
6767   66654_5    LETTERS         ECU         ECU                e c u
6771  66671_11    LETTERS          AM          AM                  a m
6807   66984_1    LETTERS        URMs        URMs              u r m's
6821   67086_2    LETTERS       NADYA       NADYA            n a d y a
6822  67101_11    LETTERS       EBOLA       EBOLA            e b o l a
6868   67638_9    LETTERS         ILL         ILL                i l l
6869   67649_2    LETTERS  ARCICOLLAR  ARCICOLLAR  a r c i c o l l a r
6897   67826_4    LETTERS         MUA         MUA                m u a
6903  67887_12    LETTERS          MR      mister                  m r
6907   67958_7    LETTERS        ATMA        ATMA              a t m a
6917   68013_2    LETTERS       PECDC       PECDC            p e c d c
6924   68061_6    LETTERS        astu        astu              a s t u
6930   68107_3    LETTERS         eba         eba                e b a
6934   68149_0    LETTERS        AION        AION              a i o n
6953   68340_0    LETTERS         BLK       block                b l k
6992  68727_18    LETTERS        eGFP        eGFP              e g f p
6993  68766_10    LETTERS         OFF         OFF                o f f
7002   68830_3    LETTERS      X.L.A.      X.L.A.                x l a
7007   68887_2    LETTERS        APIs        APIs              a p i's
7034  69324_19    LETTERS          SM          SM                  s m
7047  69415_12    LETTERS         JrK         JrK                j r k
7056   69478_0    LETTERS    K. E. E.    K. E. E.                k e e
7057   69479_3    LETTERS        SHVI        SHVI              s h v i
7070  69631_13    LETTERS         WEB         WEB                w e b
7100   69956_6    LETTERS       SCOOP       SCOOP            s c o o p

[674 rows x 5 columns]

In [10]:
compare_df[compare_df["class_pred"] == "MEASURE"]

,id,class_pred,before,after_x,after_y
2,20_13,MEASURE,52.63 km2,52.63 square kilometers,fifty two point six three square kilometers
5,31_9,MEASURE,11.8 MB,11.8 MB,eleven point eight megabytes
12,105_14,MEASURE,0.7 kg/m3,zero point seven kilograms per cubic meter,zero point seven kilograms per cubic meters
33,304_10,MEASURE,526.1/km2,526.1/km2,five hundred twenty six point one per square k...
38,392_4,MEASURE,277.61 km2,277.61 square kilometers,two hundred seventy seven point six one square...
50,521_10,MEASURE,477.6/km2,477.6/km2,four hundred seventy seven point six per squar...
59,591_6,MEASURE,20',twenty feet,20'
60,591_8,MEASURE,35',thirty five feet,35'
61,601_17,MEASURE,"3,435 ha","three thousand, four hundred and thirty-five ha",three thousand four hundred thirty five hectares
69,714_18,MEASURE,/cm2,per square centimeter,two per centimeters
72,743_18,MEASURE,"2,418 ft","two thousand, four hundred and eighteen ft",two thousand four hundred eighteen feet
86,854_15,MEASURE,171.8/km2,171.8/km2,one hundred seventy one point eight per square...
94,1004_15,MEASURE,283.3/km2,283.3/km2,two hundred eighty three point three per squar...
105,1096_17,MEASURE,"2,943 m","two thousand, nine hundred and forty-three m",two thousand nine hundred forty three meters
115,1242_10,MEASURE,340.7/km2,340.7/km2,three hundred forty point seven per square kil...
116,1272_4,MEASURE,2.55 m,2.55 m,two point five five meters
125,1365_16,MEASURE,33.23 km2,33.23 square kilometers,thirty three point two three square kilometers
129,1402_9,MEASURE,25 oz,twenty five ounces,25 oz
139,1575_7,MEASURE,"12""",twelve inches,"12"""
148,1708_6,MEASURE,17.5 million oz,17.5 million oz,seventeen point five llion oz miles
152,1772_8,MEASURE,"102,000 sq mi",one hundred and two thousand sq mi,one hundred two thousand square miles
163,1947_7,MEASURE,/m,per meter,per meters
168,2030_7,MEASURE,1060 kg/m3,one thousand sixty kilograms per cubic meter,one thousand sixty kilograms per cubic meters
184,2150_18,MEASURE,per km²,per square kilometer,per square kilometers
198,2319_20,MEASURE,"5,424.4 m2",5424.4 m2,five thousand four hundred twenty four point f...
227,2671_14,MEASURE,"16,360 hp","sixteen thousand, three hundred and sixty hp",sixteen thousand three hundred sixty horsepower
247,2843_3,MEASURE,"27""",twenty seven inches,"27"""
248,2843_10,MEASURE,53 lbs,fifty three pounds,fifty three pounds second
253,2914_14,MEASURE,2.983 km²,2.983 km²,two point nine eight three square kilometers
255,2919_11,MEASURE,358.4 m,358.4 m,three hundred fifty eight point four meters
...,...,...,...,...,...
6727,66171_5,MEASURE,.50mg,.50mg,point five og meters
6728,66171_7,MEASURE,.1mg,.1mg,point oneg meters
6740,66369_14,MEASURE,8.861 km²,8.861 km²,eight point eight six one square kilometers
6770,66671_8,MEASURE,630 kHz,six hundred thirty kilohertz,630 kHz
6773,66682_7,MEASURE,800 kWh/m,eight hundred kilo watt hours per meter,eight hundred kilowatts hour per meters
6774,66682_8,MEASURE,2/year,two per years,twoyear per
6796,66900_9,MEASURE,388 yd,three hundred and eighty-eight yd,three hundred eighty eight yards
6800,66937_8,MEASURE,per km2,per square kilometer,per square kilometers
6803,66959_13,MEASURE,7 AF,o seven a f,7 AF
6806,66982_9,MEASURE,5.89 MB,5.89 MB,five point eight nine megabytes
6809,66999_13,MEASURE,0.916 km2,0.916 square kilometers,zero point nine one six square kilometers
6810,66999_15,MEASURE,0.354 sq mi,0.354 sq mi,zero point three five four square miles
6817,67049_9,MEASURE,25.5 mi,25.5 mi,twenty five point five miles
6839,67349_4,MEASURE,77.95 km2,77.95 square kilometers,seventy seven point nine five square kilometers
6855,67525_4,MEASURE,"1,140m",1140m,one thousand one hundred forty meters
6871,67651_17,MEASURE,292.4 m3,292.4 m3,two hundred ninety two point four cubic meters
6887,67756_16,MEASURE,84.73 percent,84.73 percent,eighty four point seven three percent
6913,67978_18,MEASURE,"13,946.6 m3",13946.6 m3,thirteen thousand nine hundred forty six point...
6961,68371_10,MEASURE,"1,635.2/km2",1635.2/km2,one thousand six hundred thirty five point two...
6964,68460_7,MEASURE,/g,per gram,g per
6982,68675_14,MEASURE,2.058 km²,2.058 km²,two point o five eight square kilometers
6997,68786_5,MEASURE,1458 kHz,one thousand four hundred fifty eight kilohertz,1458 kHz
7016,69020_0,MEASURE,"24,966th",twenty four thousand nine hundred sixty sixth,twenty four thousand nine hundred sixty sixt hour
7018,69041_24,MEASURE,77.75%,77.75%,seventy seven point seven five percent
7026,69188_11,MEASURE,"2,600mm",2600mm,two thousand six hundred millimeters
7038,69329_11,MEASURE,5.8 GHz,five point eight gigahertz,5.8 GHz
7090,69844_8,MEASURE,32768 Hz,"thirty-two thousand, seven hundred and sixty-e...",32768 Hz
7093,69865_12,MEASURE,52.4 mm,52.4 mm,fifty two point four millimeters
7095,69883_18,MEASURE,12.348 km²,12.348 km²,twelve point three four eight square kilometers
7096,69883_20,MEASURE,7.67mi²,7.67mi²,seven point six seven square miles

In [9]:
compare_df[compare_df["class_pred"] == "MONEY"]

,id,class_pred,before,after_x,after_y
21,168_10,MONEY,"$121,141",$121141,one hundred twenty one thousand one hundred fo...
80,828_1,MONEY,S$48.7 million,forty eight point seven million dollars,s48.7 million dollars
213,2536_2,MONEY,1.8 million,one point eight million,1.8 million
232,2743_15,MONEY,US$25.7 million,US$25.7 million,twenty five point seven million dollars
279,3261_14,MONEY,£942 million,£942 million,nine hundred forty two million pounds
353,4209_4,MONEY,"$7,343,114","$7,343,114",seven million three hundred forty three thousa...
379,4507_10,MONEY,"$66,588",$66588,sixty six thousand five hundred eighty eight d...
380,4507_20,MONEY,"$74,113",$74113,seventy four thousand one hundred thirteen dol...
540,5976_7,MONEY,CHF 4,four swiss francs,chf 4
624,6814_9,MONEY,$35000,$35000,thirty five thousand dollars
625,6814_11,MONEY,$43000,$43000,forty three thousand dollars
638,6908_6,MONEY,"$49,100,158","$49,100,158",forty nine million one hundred thousand one hu...
677,7262_7,MONEY,"$98,000,000","$98,000,000",ninety eight million dollars
910,9839_12,MONEY,"$65,781,684","$65,781,684",sixty five million seven hundred eighty one th...
944,10076_9,MONEY,8 billion USD,eight billion USD,eight billion united states dollars
972,10375_19,MONEY,£67.8m,£67.8m,sixty seven point eight million pounds
978,10450_11,MONEY,A$8.7 billion,A$8.7 billion,eight point seven billion dollars
1059,11442_17,MONEY,CVE-108,CVE-108,cve-108
1076,11635_13,MONEY,"$11,660,329","$11,660,329",eleven million six hundred sixty thousand thre...
1112,11917_13,MONEY,$44.75M,$44.75M,forty four point seven five million dollars
1176,12601_10,MONEY,"T$15,000",T$15000,t15000 dollars
1259,13392_5,MONEY,$44.00,$44.00,forty four point o o dollars
1308,13821_13,MONEY,"Rs.25,000",twenty five thousand rupees,point two five o o o rupees
1315,13943_6,MONEY,$114.50,$114.50,one hundred fourteen point five o dollars
1384,14581_11,MONEY,$26000,$26000,twenty six thousand dollars
1411,14804_1,MONEY,US2008,u s two thousand eight,us2008
1470,15508_9,MONEY,$29.00,twenty nine dollars,twenty nine point o o dollars
1471,15508_12,MONEY,£25.00,twenty five pounds,twenty five point o o pounds
1472,15508_16,MONEY,$45.00,forty five dollars,forty five point o o dollars
1614,16876_7,MONEY,$114.3M,$114.3M,one hundred fourteen point three million dollars
...,...,...,...,...,...
5406,54649_4,MONEY,$423 billion,$423 billion,four hundred twenty three billion dollars
5427,54801_1,MONEY,US$53 billion,US$53 billion,fifty three billion dollars
5485,55258_3,MONEY,FEB 2014,february twenty fourteen,feb 2014
5572,56093_25,MONEY,£2.50,two pounds and fifty pence,two point five o pounds
5584,56207_8,MONEY,ATS 2,two austrian schillings,ats 2
5613,56456_2,MONEY,$5114,$5114,five thousand one hundred fourteen dollars
5614,56456_19,MONEY,$5283,$5283,five thousand two hundred eighty three dollars
5756,57789_4,MONEY,"£10,200,000","£10,200,000",ten million two hundred thousand pounds
5888,58980_13,MONEY,"$9,818,282","$9,818,282",nine million eight hundred eighteen thousand t...
5992,60017_6,MONEY,2015 dollars,two thousand fifteen dollars,two thousand fifteen dolla rupees
6062,60654_8,MONEY,2016 dollars,two thousand sixteen dollars,two thousand sixteen dolla rupees
6064,60672_11,MONEY,"$572,547",$572547,five hundred seventy two thousand five hundred...
6074,60791_8,MONEY,$50.2 Million,$50.2 Million,fifty point two million dollars
6160,61576_9,MONEY,$5.21 million,$5.21 million,five point two one million dollars
6249,62264_6,MONEY,$22.4 billion,$22.4 billion,twenty two point four billion dollars
6340,63224_13,MONEY,"$2,938",$2938,two thousand nine hundred thirty eight dollars
6378,63582_14,MONEY,"$278,346,189","$278,346,189",two hundred seventy eight million three hundre...
6437,64128_2,MONEY,"$4,611,534","$4,611,534",four million six hundred eleven thousand five ...
6460,64304_0,MONEY,NOK 1.2 billion,one point two billion norwegian kroner,nok 1.2 billion
6506,64803_17,MONEY,"US$193,000",US$193000,one hundred ninety three thousand dollars
6525,64989_17,MONEY,"GBP100,000",one hundred thousand british pounds,"gbp100,000"
6568,65516_5,MONEY,$224.5 billion,$224.5 billion,two hundred twenty four point five billion dol...
6610,65912_12,MONEY,"$3,051,655","$3,051,655",three million fifty one thousand six hundred f...
6709,66956_9,MONEY,"$1,056",$1056,one thousand fifty six dollars
6740,67206_19,MONEY,"$17,830,186","$17,830,186",seventeen million eight hundred thirty thousan...
6830,68065_10,MONEY,"£502,972",£502972,five hundred two thousand nine hundred seventy...
6837,68146_7,MONEY,"US$39,000,000","US$39,000,000",thirty nine million dollars
6838,68146_12,MONEY,"$44,510,000","$44,510,000",forty four million five hundred ten thousand d...
6944,69364_3,MONEY,"$96,400",$96400,ninety six thousand four hundred dollars
7004,69956_18,MONEY,"$247,200",$247200,two hundred forty seven thousand two hundred d...

In [10]:
compare_df[compare_df["class_pred"] == "ORDINAL"]

,id,class_pred,before,after_x,after_y
33,361_17,ORDINAL,XIII,thirteen,the thirteenth
195,2326_18,ORDINAL,VIII,eight,the eighth
197,2342_16,ORDINAL,II,two,the second
318,3761_8,ORDINAL,III,three,the third
355,4261_3,ORDINAL,"2,330th",two thousand three hundred thirtieth,"2,330"
359,4304_3,ORDINAL,XI,XI,the eleventh
400,4710_8,ORDINAL,II,two,the second
466,5308_2,ORDINAL,IV,i v,the fourth
545,6028_9,ORDINAL,IV,i v,the fourth
587,6394_14,ORDINAL,II,two,the second
597,6448_6,ORDINAL,VI,VI,the sixth
787,8458_4,ORDINAL,II,two,the second
791,8536_8,ORDINAL,III,three,the third
792,8536_13,ORDINAL,III,three,the third
860,9400_7,ORDINAL,II,two,the second
946,10097_5,ORDINAL,XI,XI,the eleventh
1053,11356_9,ORDINAL,II,two,the second
1071,11563_12,ORDINAL,III,three,the third
1074,11603_12,ORDINAL,II,two,the second
1086,11731_15,ORDINAL,XIII,thirteen,the thirteenth
1158,12439_10,ORDINAL,VIII,eight,the eighth
1175,12595_16,ORDINAL,III,three,the third
1576,16486_5,ORDINAL,II,two,the second
1642,17181_1,ORDINAL,1ª,first,1ª
1678,17462_1,ORDINAL,IV,i v,the fourth
1727,18030_6,ORDINAL,I,I,the first
1814,18884_32,ORDINAL,VIII,eight,the eighth
1873,19453_4,ORDINAL,V,V,the fifth
1904,19724_13,ORDINAL,VIII,eight,the eighth
1908,19764_12,ORDINAL,V,V,the fifth
...,...,...,...,...,...
5548,55818_7,ORDINAL,V,V,the fifth
5549,55818_10,ORDINAL,VII,seven,the seventh
5602,56321_6,ORDINAL,IV,i v,the fourth
5623,56573_9,ORDINAL,II,two,the second
5700,57218_1,ORDINAL,XII,twelve,the twelfth
5731,57568_13,ORDINAL,III,three,the third
5770,57939_1,ORDINAL,V,V,the fifth
5791,58067_4,ORDINAL,V,V,the fifth
5792,58067_15,ORDINAL,II,two,the second
5857,58724_4,ORDINAL,III,three,the third
5918,59341_4,ORDINAL,II,two,the second
6136,61350_19,ORDINAL,VII,seven,the seventh
6246,62248_6,ORDINAL,"5,000th",five thousandth,"5,000"
6252,62291_19,ORDINAL,III,three,the third
6496,64660_12,ORDINAL,IV,i v,the fourth
6603,65828_12,ORDINAL,VII,seven,the seventh
6617,65986_0,ORDINAL,II,two,the second
6642,66225_4,ORDINAL,VI,VI,the sixth
6662,66458_7,ORDINAL,III,three,the third
6697,66847_17,ORDINAL,VII,seven,the seventh
6756,67467_1,ORDINAL,I,I,the first
6772,67585_3,ORDINAL,IV,i v,the fourth
6776,67649_19,ORDINAL,II,two,the second
6805,67848_5,ORDINAL,II's,the second's,II's
6806,67848_10,ORDINAL,I,I,the first
6808,67853_2,ORDINAL,II,two,the second
6908,68845_6,ORDINAL,VII,seven,the seventh
6928,69157_16,ORDINAL,I,I,the first
6929,69163_8,ORDINAL,I,I,the first
7006,69962_1,ORDINAL,VII,seven,the seventh

In [11]:
compare_df[compare_df["class_pred"] == "TELEPHONE"]

,id,class_pred,before,after_x,after_y
39,413_13,TELEPHONE,1941-1946 (1953) 348-68,one nine four one sil one nine four six sil on...,one nine four one sil one nine four six sil on...
57,587_11,TELEPHONE,045007,forty-five thousand and seven,o four five o o seven
60,624_15,TELEPHONE,330-2600 BCE,330-2600 BCE,three three o sil two six o o sil b c e
61,624_21,TELEPHONE,2600-1900 BCE,2600-1900 BCE,two six o o sil one nine o o sil b c e
93,1039_1,TELEPHONE,2010-2015 SE,2010-2015 SE,two o one o sil two o one five sil s e
130,1522_1,TELEPHONE,978-1-86395-429-7,978-1-86395-429-7,nine seven eight sil one sil eight six three n...
137,1606_10,TELEPHONE,1881-1899 ASIN,one eight eight one sil one eight nine nine si...,one eight eight one sil one eight nine nine si...
155,1926_3,TELEPHONE,978-0-3743-5095-6,978-0-3743-5095-6,nine seven eight sil o sil three seven four th...
172,2110_1,TELEPHONE,4-8179-2022,4-8179-2022,four sil eight one seven nine sil two o two two
173,2115_1,TELEPHONE,22-25 RUS,22-25 RUS,two two sil two five sil r u s
185,2228_18,TELEPHONE,1120-49 JSTOR,one one two o sil four nine sil j stor,one one two o sil four nine sil j s t o r
198,2356_2,TELEPHONE,(1976) 198,one nine seven six sil one nine eight,one nine seven six sil sil one nine eight
202,2400_1,TELEPHONE,0-9841859-5,0-9841859-5,o sil nine eight four one eight five nine sil ...
235,2756_2,TELEPHONE,018611479,"eighteen million, six hundred and eleven thous...",o one eight six one one four seven nine
266,3143_1,TELEPHONE,978-0-9854603-2-7,978-0-9854603-2-7,nine seven eight sil o sil nine eight five fou...
287,3371_18,TELEPHONE,3-8136-0021-1101 UKW,3-8136-0021-1101 UKW,three sil eight one three six sil o o two one ...
294,3426_10,TELEPHONE,1365-294X.2004,one three six five sil two nine four extension...,one three six five sil two nine four x sil two...
314,3745_7,TELEPHONE,2012-13 UEFA,two o one two sil one three sil uefa,two o one two sil one three sil u e f a
348,4178_6,TELEPHONE,34-38238-239,34-38238-239,three four sil three eight two three eight sil...
357,4273_1,TELEPHONE,0-316-51163-3,0-316-51163-3,o sil three one six sil five one one six three...
361,4323_1,TELEPHONE,0-521-28075-3,0-521-28075-3,o sil five two one sil two eight o seven five ...
362,4323_4,TELEPHONE,978-0-521-28075-4,978-0-521-28075-4,nine seven eight sil o sil five two one sil tw...
388,4613_1,TELEPHONE,0385236905,"three hundred and eighty-five million, two hun...",o three eight five two three six nine o five
432,4981_15,TELEPHONE,0-231-12703-0,0-231-12703-0,o sil two three one sil one two seven o three ...
437,5066_9,TELEPHONE,073909,"seventy-three thousand, nine hundred and nine",o seven three nine o nine
452,5220_10,TELEPHONE,0-618-00221-9,0-618-00221-9,o sil six one eight sil o o two two one sil nine
527,5881_1,TELEPHONE,978-38296068512016,978-38296068512016,nine seven eight sil three eight two nine six ...
528,5885_0,TELEPHONE,1997-98 AHL,one nine nine seven sil nine eight sil ahl,one nine nine seven sil nine eight sil a h l
535,5922_2,TELEPHONE,2486-2494,2486-2494,two four eight six sil two four nine four
565,6196_1,TELEPHONE,01 - 6,one - six,o one sil sil sil six
...,...,...,...,...,...
6180,61778_18,TELEPHONE,0-300-10442-1,0-300-10442-1,o sil three o o sil one o four four two sil one
6187,61809_16,TELEPHONE,2000-2001 ABA,2000-2001 ABA,two o o o sil two o o one sil a b a
6192,61823_25,TELEPHONE,12-200807943,12-200807943,one two sil two o o eight o seven nine four three
6195,61854_24,TELEPHONE,0-486-25455-0,0-486-25455-0,o sil four eight six sil two five four five fi...
6294,62820_9,TELEPHONE,64-40-5,64-40-5,six four sil four o sil five
6332,63084_17,TELEPHONE,(2007)30,(2007)30,two o o seven sil three o
6343,63240_4,TELEPHONE,1997-2002 JS,1997-2002 JS,one nine nine seven sil two o o two sil j s
6344,63240_6,TELEPHONE,2002-2003 NA,2002-2003 NA,two o o two sil two o o three sil n a
6345,63240_9,TELEPHONE,2003-2005 USM,2003-2005 USM,two o o three sil two o o five sil u s m
6346,63240_11,TELEPHONE,2005-2006 JSM,2005-2006 JSM,two o o five sil two o o six sil j s m
6358,63330_3,TELEPHONE,0786423455,"seven hundred and eighty-six million, four hun...",o seven eight six four two three four five five
6383,63623_1,TELEPHONE,5-02-006992-2,5-02-006992-2,five sil o two sil o o six nine nine two sil two
6484,64553_8,TELEPHONE,2012-2015 GDP,2012-2015 GDP,two o one two sil two o one five sil g d p
6535,65102_8,TELEPHONE,43-544 AD,43-544 AD,four three sil five four four sil a d
6565,65450_4,TELEPHONE,0-89281-505-1 CD,0-89281-505-1 CD,o sil eight nine two eight one sil five o five...
6572,65550_17,TELEPHONE,3-11-008324-8,3-11-008324-8,three sil one one sil o o eight three two four...
6644,66270_4,TELEPHONE,84-934411-0-4,84-934411-0-4,eight four sil nine three four four one one si...
6663,66462_1,TELEPHONE,978-0-300-11465-2,nine seven eight sil o sil three hundred sil o...,nine seven eight sil o sil three o o sil one o...
6664,66487_4,TELEPHONE,2005-06 FIRST,2005-06 FIRST,two o o five sil o six sil f i r s t
6668,66540_1,TELEPHONE,978-1107653788,978-1107653788,nine seven eight sil one one o seven six five ...
6695,66839_3,TELEPHONE,194 13/94,one hundred and ninety-four 13/94,one nine four sil one three sil nine four
6820,67998_0,TELEPHONE,080218,"eighty thousand, two hundred and eighteen",o eight o two one eight
6881,68623_16,TELEPHONE,81-7223-351-5,81-7223-351-5,eight one sil seven two two three sil three fi...
6903,68794_13,TELEPHONE,3500-3800,3500-3800,three five o o sil three eight o o
6905,68830_1,TELEPHONE,0-306-47350,0-306-47350,o sil three o six sil four seven three five o
6926,69116_18,TELEPHONE,5-18 JANUARY 2016,5-18 JANUARY two thousand and sixteen,five sil one eight sil j a n u a r y sil two o...
6942,69347_16,TELEPHONE,4800-4400 BP,4800-4400 BP,four eight o o sil four four o o sil b p
6971,69631_12,TELEPHONE,978-0-7552-1321-4,978-0-7552-1321-4,nine seven eight sil o sil seven five five two...
6994,69854_1,TELEPHONE,0271025263,"two hundred and seventy-one million, twenty-fi...",o two seven one o two five two six three
6995,69854_4,TELEPHONE,978-0-271-02526-1,978-0-271-02526-1,nine seven eight sil o sil two seven one sil o...