In [1]:
import pandas as pd
import numpy as np

In [2]:
compare_file_name = "../test/compare.csv"

In [3]:
compare_df = pd.read_csv(compare_file_name)

In [4]:
compare_df.shape

(10421, 5)

In [5]:
compare_df.groupby("class_pred").agg(['count'])

              id before after_x after_y
           count  count   count   count
class_pred
ADDRESS       47     47      47      47
CARDINAL     648    648     648     648
DATE         579    579     579     579
DECIMAL      155    155     155     155
DIGIT        298    298     298     298
ELECTRONIC   664    664     664     664
FRACTION      32     32      32      32
LETTERS     1385   1385    1385    1385
MEASURE      608    608     608     608
MONEY        179    179     179     179
ORDINAL      111    111     111     111
PLAIN       5348   5340    5340    5340
PUNCT          6      6       6       6
TELEPHONE    251    251     251     251
TIME          28     28      28      28
VERBATIM      82     82      82      82

In [6]:
compare_df[compare_df["class_pred"] == "CARDINAL"]

,id,class_pred,before,after_x,after_y
16,115_19,CARDINAL,06,o six,six
56,384_16,CARDINAL,2557,two thousand five hundred fifty seven,twenty five fifty seven
92,639_18,CARDINAL,1250059,"one million, two hundred and fifty thousand an...",one million two hundred fifty thousand fifty nine
105,726_10,CARDINAL,"465,000,000 m3",four hundred sixty five million cubic meters,odd!~!
171,1200_4,CARDINAL,XLI-,x l i,odd!~!
186,1300_11,CARDINAL,198610,"one hundred and ninety-eight thousand, six hun...",one hundred ninety eight thousand six hundred ten
241,1703_2,CARDINAL,1 1,one one,eleven
253,1778_16,CARDINAL,I,I,one
257,1791_14,CARDINAL,9780271029085,"nine trillion, seven hundred and eighty billio...",nine trillion seven hundred eighty billion two...
259,1803_4,CARDINAL,2979,two thousand nine hundred seventy nine,twenty nine seventy nine
279,2010_11,CARDINAL,02,o two,two
289,2069_9,CARDINAL,"1,400,000,000","1,400,000,000",one billion four hundred million
292,2104_3,CARDINAL,04,o four,four
311,2217_10,CARDINAL,05,o five,five
323,2319_16,CARDINAL,"58,388","fifty-eight thousand, three hundred and eighty...",fifty eight thousand three hundred eighty eight
343,2435_10,CARDINAL,"65,938","sixty-five thousand, nine hundred and thirty-e...",sixty five thousand nine hundred thirty eight
353,2520_12,CARDINAL,05,o five,five
394,2789_3,CARDINAL,2400,two thousand four hundred,twenty-four hundred
411,2915_16,CARDINAL,I,I,one
477,3422_9,CARDINAL,I,I,one
479,3426_4,CARDINAL,2345,two thousand three hundred forty five,twenty three forty five
480,3426_5,CARDINAL,-2355.doi:10,p_letter o_letter r_letter t_letter _letter o...,minus odd!~!
499,3592_6,CARDINAL,"19,009",nineteen thousand and nine,nineteen thousand nine
504,3640_9,CARDINAL,"94,080",ninety-four thousand and eighty,ninety four thousand eighty
514,3747_7,CARDINAL,20140617,"twenty million, one hundred and forty thousand...",twenty million one hundred forty thousand six ...
531,3862_4,CARDINAL,03,o three,three
551,4025_1,CARDINAL,14534244,"fourteen million, five hundred and thirty-four...",fourteen million five hundred thirty four thou...
575,4202_3,CARDINAL,05,o five,five
608,4403_6,CARDINAL,2500,two thousand five hundred,twenty-five hundred
616,4453_3,CARDINAL,I,I,one
...,...,...,...,...,...
9911,66441_16,CARDINAL,"1,533,964","1,533,964",one million five hundred thirty three thousand...
9914,66448_15,CARDINAL,3-,three,odd!~!
9985,66926_4,CARDINAL,911,nine one one,nine hundred eleven
10002,66989_2,CARDINAL,33-,three three,odd!~!
10065,67495_10,CARDINAL,06,o six,six
10071,67538_2,CARDINAL,731 104,seven hundred and thirty-one one hundred and four,seven hundred thirty one thousand one hundred ...
10080,67638_11,CARDINAL,16-,one six,odd!~!
10088,67683_14,CARDINAL,I,I,one
10095,67727_6,CARDINAL,I,I,one
10098,67758_3,CARDINAL,"591,813","five hundred and ninety-one thousand, eight hu...",five hundred ninety one thousand eight hundred...
10101,67774_10,CARDINAL,2600,two thousand six hundred,twenty-six hundred
10108,67809_1,CARDINAL,"97,541","ninety-seven thousand, five hundred and forty-one",ninety seven thousand five hundred forty one
10132,67978_14,CARDINAL,"492,519","four hundred and ninety-two thousand, five hun...",four hundred ninety two thousand five hundred ...
10136,68001_7,CARDINAL,IV,i v,four
10142,68040_9,CARDINAL,2160,two thousand one hundred sixty,twenty one sixty
10178,68237_5,CARDINAL,"2,007,088","2,007,088",two million seven thousand eighty eight
10191,68335_2,CARDINAL,3-,three,odd!~!
10215,68503_1,CARDINAL,I,I,one
10246,68681_11,CARDINAL,I,I,one
10250,68699_16,CARDINAL,09,o nine,nine
10252,68712_19,CARDINAL,06,o six,six
10257,68774_2,CARDINAL,2213,two thousand two hundred thirteen,twenty two thirteen
10263,68794_6,CARDINAL,2200,two thousand two hundred,twenty-two hundred
10281,68943_13,CARDINAL,09,o nine,nine
10282,68944_15,CARDINAL,06,o six,six
10310,69215_8,CARDINAL,"117,183","one hundred and seventeen thousand, one hundre...",one hundred seventeen thousand one hundred eig...
10367,69602_14,CARDINAL,08,o eight,eight
10380,69668_6,CARDINAL,"290,418","two hundred and ninety thousand, four hundred ...",two hundred ninety thousand four hundred eighteen
10381,69668_12,CARDINAL,"296,012",two hundred and ninety-six thousand and twelve,two hundred ninety six thousand twelve
10420,69998_23,CARDINAL,24-,two four,odd!~!

In [14]:
cv = compare_df[compare_df["class_pred"] == "CARDINAL"]["before"].values
count = 0
for one in cv:
    if one.isdigit() and int(one)<=3000 and int(one) >=1000:
        count += 1
print("count: ", count)

count:  939

In [15]:
compare_df[compare_df["class_pred"] == "DATE"]

,id,class_pred,before,after_x,after_y
12,81_10,DATE,Tuesday 6 May 2008,tuesday the sixth of may two thousand eight,Tuesday 6 May 2008
14,92_3,DATE,1903,nineteen o three,nineteen three
37,181_7,DATE,1905,nineteen o five,nineteen five
42,215_17,DATE,2001's,two thousand ones,2001's
46,249_15,DATE,1500,fifteen hundred,fifteen zero
75,443_16,DATE,00s,o o,00s
76,449_11,DATE,1804,eighteen o four,eighteen four
78,449_13,DATE,1807,eighteen o seven,eighteen seven
79,449_20,DATE,1807,eighteen o seven,eighteen seven
81,485_4,DATE,17th December 2015,17th December two thousand and fifteen,17th December 2015
82,499_9,DATE,April 1908,april nineteen o eight,april nineteen eight
83,513_0,DATE,09/08/1943,09/08/1943,september eighth nineteen forty three
88,543_7,DATE,1960s,nineteen sixties,1960s
99,589_2,DATE,1960s,nineteen sixties,1960s
111,669_11,DATE,"July 15, 1834","July fifteen one thousand, eight hundred and t...",july fifteenth eighteen thirty four
115,702_7,DATE,"December 29, 1676","December twenty-nine one thousand, six hundred...",december twenty ninth sixteen seventy six
118,718_7,DATE,1980's,nineteen eighties,1980's
127,760_1,DATE,2 April 1672,"two April one thousand, six hundred and sevent...",the second of april sixteen seventy two
151,935_9,DATE,1970s,nineteen seventies,1970s
161,999_3,DATE,"June 17th, 2010",june seventeenth twenty ten,"June 17th, 2010"
178,1097_0,DATE,1500,fifteen hundred,fifteen zero
187,1160_5,DATE,1909,nineteen o nine,nineteen nine
197,1202_15,DATE,60s,sixties,60s
201,1222_1,DATE,"2 October 2006,",the second of october two thousand six,"2 October 2006,"
206,1246_19,DATE,20s,twenties,20s
207,1246_21,DATE,50s,fifties,50s
242,1448_9,DATE,1506,fifteen o six,fifteen six
253,1530_10,DATE,2737 BC,twenty seven thirty seven b c,"the two thousand, seven hundred and thirty sev..."
258,1557_6,DATE,"August 24, 1902",august twenty fourth nineteen o two,august twenty fourth nineteen two
272,1610_7,DATE,"March 29, 1863","March twenty-nine one thousand, eight hundred ...",march twenty ninth eighteen sixty three
...,...,...,...,...,...
12073,68991_1,DATE,"23 May,",the twenty third of may,"23 May,"
12075,69004_3,DATE,70s,seventies,70s
12082,69066_3,DATE,1802,eighteen o two,eighteen two
12089,69149_7,DATE,1980s,nineteen eighties,1980s
12105,69233_9,DATE,1970s,nineteen seventies,1970s
12113,69296_0,DATE,1300,thirteen hundred,thirteen zero
12114,69296_7,DATE,1303,thirteen o three,thirteen three
12115,69296_13,DATE,1300,thirteen hundred,thirteen zero
12116,69301_1,DATE,"November 19th, 2015",november nineteenth twenty fifteen,"November 19th, 2015"
12118,69320_1,DATE,1900,nineteen hundred,nineteen zero
12125,69354_2,DATE,1960s,nineteen sixties,1960s
12129,69370_10,DATE,20's,twenties,20's
12138,69416_5,DATE,1900,nineteen hundred,nineteen zero
12148,69468_14,DATE,1000nm,one thousand nanometers,1000nm
12151,69485_9,DATE,"February 27, 2026",February twenty-seven two thousand and twenty-six,february twenty seventh twenty twenty six
12160,69522_1,DATE,"October 20th, 2014",october twentieth twenty fourteen,"October 20th, 2014"
12165,69546_2,DATE,1980s,nineteen eighties,1980s
12170,69582_6,DATE,6 October 1852,"six October one thousand, eight hundred and fi...",the sixth of october eighteen fifty two
12171,69582_8,DATE,16 March 1903,the sixteenth of march nineteen o three,the sixteenth of march nineteen three
12172,69597_8,DATE,1906,nineteen o six,nineteen six
12173,69602_12,DATE,1907,nineteen o seven,nineteen seven
12175,69619_2,DATE,1903,nineteen o three,nineteen three
12177,69620_11,DATE,1900,nineteen hundred,nineteen zero
12185,69648_7,DATE,1960s,nineteen sixties,1960s
12192,69676_22,DATE,08/11/2011,08/11/2011,august eleventh twenty eleven
12198,69694_4,DATE,80s,eighties,80s
12223,69892_10,DATE,1907,nineteen o seven,nineteen seven
12227,69905_7,DATE,1960s,nineteen sixties,1960s
12228,69905_9,DATE,70s,seventies,70s
12236,69958_0,DATE,"Saturday, 8 February 1919","Saturday eight February one thousand, nine hun...","Saturday, 8 February 1919"

In [16]:
cv = compare_df[compare_df["class_pred"] == "DATE"]["before"].values
count = 0
for one in cv:
    if one.isdigit() and int(one)<=3000 and int(one) >=1000:
        count += 1
print("count: ", count)

count:  419

In [6]:
compare_df[compare_df["class_pred"] == "PLAIN"]

,id,class_pred,before,after_x,after_y
0,4_6,PLAIN,Dn,d n,Dn
1,6_6,PLAIN,-,-,to
5,47_12,PLAIN,I,I,one
8,54_2,PLAIN,-,-,to
10,64_2,PLAIN,BOGOF,b o g o f,BOGOF
11,71_22,PLAIN,-,-,to
13,89_3,PLAIN,:,:,to
16,105_4,PLAIN,kg/m3,kilogram per cubic meter,kg/m3
18,109_14,PLAIN,no,no,number
21,120_14,PLAIN,Pop,Pop,population
22,122_8,PLAIN,-,-,to
23,124_2,PLAIN,-,-,to
24,133_2,PLAIN,TheDeadBallEra.com,t_letter h_letter e_letter d_letter e_letter a...,TheDeadBallEra.com
25,147_10,PLAIN,-,-,to
26,153_5,PLAIN,no,no,number
27,154_7,PLAIN,-,-,to
28,160_4,PLAIN,fno,f n o,fno
29,161_2,PLAIN,-,-,to
32,163_4,PLAIN,no,no,number
33,163_11,PLAIN,no,no,number
35,176_13,PLAIN,-,-,to
36,188_5,PLAIN,koei,k o e i,koei
38,210_4,PLAIN,:,:,to
40,216_0,PLAIN,WILO,w i l o,WILO
41,221_7,PLAIN,:,:,to
42,232_0,PLAIN,Sun,Sun,sunday
43,249_16,PLAIN,-,-,to
44,262_1,PLAIN,-,-,to
46,283_6,PLAIN,-,-,to
47,287_15,PLAIN,-,-,to
...,...,...,...,...,...
11213,69561_12,PLAIN,-,-,to
11218,69619_5,PLAIN,no,no,number
11219,69620_12,PLAIN,-,-,to
11223,69635_6,PLAIN,no,no,number
11224,69637_11,PLAIN,no,no,number
11226,69648_11,PLAIN,no,no,number
11228,69652_7,PLAIN,-,-,to
11229,69656_11,PLAIN,i,i,one
11235,69682_11,PLAIN,:,:,to
11236,69687_2,PLAIN,:,:,to
11237,69687_4,PLAIN,-,-,to
11238,69717_6,PLAIN,mpg,m p g,mpg
11239,69719_5,PLAIN,caEt,c a e t,caEt
11240,69724_1,PLAIN,-,-,to
11241,69728_10,PLAIN,WAC,w a c,WAC
11242,69761_14,PLAIN,-,-,to
11243,69761_21,PLAIN,-,-,to
11244,69761_29,PLAIN,-,-,to
11245,69765_13,PLAIN,no,no,number
11246,69768_13,PLAIN,Gothtronic.com,g_letter o_letter t_letter h_letter t_letter r...,Gothtronic.com
11247,69772_14,PLAIN,-,-,to
11251,69833_12,PLAIN,no,no,number
11252,69839_13,PLAIN,x,x,by
11257,69873_0,PLAIN,No,No,number
11258,69877_4,PLAIN,-,-,to
11259,69882_12,PLAIN,Nur,n u r,Nur
11265,69923_1,PLAIN,Uniao,u n i a o,Uniao
11266,69928_5,PLAIN,Ared,a r e d,Ared
11270,69956_11,PLAIN,No,No,number
11275,69990_4,PLAIN,I,I,one

In [8]:
compare_df[compare_df["class_pred"] == "LETTERS"]

             id class_pred    before          after_x      after_y
2          13_9    LETTERS      VPNs          v p n's      v p n s
35       215_11    LETTERS        's                s          ' s
41       264_11    LETTERS        MR           mister          m r
46       312_19    LETTERS        Ps              p's          p s
47       313_32    LETTERS         é          e acute            é
51        343_9    LETTERS        VO               VO          v o
52        361_6    LETTERS     Béarn  b e acute a r n    b é a r n
59        410_1    LETTERS        GO               GO          g o
62        423_6    LETTERS     RTE's          r t e's    r t e ' s
66        436_0    LETTERS      CEOs          c e o's      c e o s
77       553_10    LETTERS       CRI              CRI        c r i
89        604_1    LETTERS        YR             year          y r
93        656_7    LETTERS       YES              YES        y e s
94        660_2    LETTERS       ész      e acute s z        é s z
109       750_2    LETTERS      INAH             INAH      i n a h
112      762_16    LETTERS       WEB              WEB        w e b
119       812_3    LETTERS     début  d e acute b u t    d é b u t
120      813_19    LETTERS      DLLs          d l l's      d l l s
139      977_21    LETTERS     IBM's          i b m's    i b m ' s
146      1025_0    LETTERS    RPCS's           RPCS's  r p c s ' s
152      1060_1    LETTERS    U.N.'s            u n's      u n ' s
156      1087_9    LETTERS      DVDs          d v d's      d v d s
161      1128_8    LETTERS     ASCII            ASCII    a s c i i
162      1149_1    LETTERS     UGO's            UGO's    u g o ' s
165      1162_7    LETTERS       EBA              EBA        e b a
173     1201_16    LETTERS        JR           junior          j r
178     1225_15    LETTERS       FAC              FAC        f a c
182      1260_4    LETTERS       MTN         mountain        m t n
193      1337_1    LETTERS        FE               FE          f e
205      1407_1    LETTERS        CY               CY          c y
...         ...        ...       ...              ...          ...
10109   67810_0    LETTERS    UVic's        u v i c's  u v i c ' s
10112   67831_5    LETTERS     IDeAS            IDeAS    i d e a s
10118   67853_7    LETTERS         é          e acute            é
10119  67887_12    LETTERS        MR           mister          m r
10124   67941_3    LETTERS       MBA              MBA        m b a
10126   67958_7    LETTERS      ATMA             ATMA      a t m a
10127   67962_2    LETTERS       Dyk              Dyk        d y k
10137   68013_2    LETTERS     PECDC            PECDC    p e c d c
10146   68061_6    LETTERS      astu             astu      a s t u
10151   68097_0    LETTERS        UT               UT          u t
10156   68114_3    LETTERS      EA's            e a's      e a ' s
10166  68199_18    LETTERS       MBA              MBA        m b a
10192   68340_0    LETTERS       BLK            block        b l k
10223   68532_0    LETTERS    ISKCON           ISKCON  i s k c o n
10224   68554_1    LETTERS      PGMs          p g m's      p g m s
10233   68616_1    LETTERS        EV               EV          e v
10255  68727_18    LETTERS      eGFP             eGFP      e g f p
10268   68830_3    LETTERS    X.L.A.           X.L.A.        x l a
10270   68844_1    LETTERS    Vidéos           Vidéos  v i d é o s
10283   68954_6    LETTERS       I/O              i o        i / o
10297   69114_7    LETTERS        KI               KI          k i
10307   69192_3    LETTERS      AEDs          a e d's      a e d s
10309  69212_10    LETTERS     TSR's          t s r's    t s r ' s
10321  69324_19    LETTERS        SM               SM          s m
10348   69478_0    LETTERS  K. E. E.         K. E. E.        k e e
10349   69479_3    LETTERS      SHVI             SHVI      s h v i
10359   69530_8    LETTERS    Na'ima        n a i m a  n a ' i m a
10362  69560_10    LETTERS     USA's          u s a's    u s a ' s
10371  69631_13    LETTERS       WEB              WEB        w e b
10413   69956_6    LETTERS     SCOOP            SCOOP    s c o o p

[1385 rows x 5 columns]