In [1]:
import pandas as pd
import numpy as np
import pickle as pkl
import re

In [2]:
train_df = pd.read_csv('../input/en_train.csv')
train_df.head()

   sentence_id  token_id  class         before          after
0            0         0  PLAIN  Brillantaisia  Brillantaisia
1            0         1  PLAIN             is             is
2            0         2  PLAIN              a              a
3            0         3  PLAIN          genus          genus
4            0         4  PLAIN             of             of

In [3]:
train_df.shape

(9918441, 5)

In [4]:
das_pat = re.compile(r"^[a-zA-Z]+-[a-zA-Z]+$")

def has_dash(token):
    token = str(token)
    if das_pat.search(token):
        return True
    else:
        return False

In [20]:
train_df[train_df["after"].apply(lambda x: str(x).endswith("per milliliter"))]

Empty DataFrame
Columns: [sentence_id, token_id, class, before, after]
Index: []

In [4]:
train_df[train_df["before"] == "pdf"]

Empty DataFrame
Columns: [sentence_id, token_id, class, before, after]
Index: []

In [16]:
train_df[train_df["sentence_id"] == 22059]

        sentence_id  token_id     class    before     after
174770        14038         0     PLAIN      Note      Note
174771        14038         1     PUNCT         :         :
174772        14038         2  VERBATIM         #      hash
174773        14038         3  VERBATIM         -         -
174774        14038         4     PLAIN   denotes   denotes
174775        14038         5     PLAIN      team      team
174776        14038         6     PLAIN  advanced  advanced
174777        14038         7     PLAIN        to        to
174778        14038         8     PLAIN       the       the
174779        14038         9     PLAIN     final     final
174780        14038        10     PUNCT         .         .

In [19]:
train_df[train_df["sentence_id"] == 653065]

         sentence_id  token_id     class       before         after
8633908       653065         0      DATE         1000  one thousand
8633909       653065         1  VERBATIM            #          hash
8633910       653065         2     PLAIN   Fallkniven    Fallkniven
8633911       653065         3   LETTERS            F             F
8633912       653065         4  CARDINAL            1           one
8633913       653065         5  CARDINAL            3         three
8633914       653065         6   LETTERS            G             G
8633915       653065         7     PLAIN  Anniversary   Anniversary
8633916       653065         8     PLAIN      edition       edition
8633917       653065         9     PUNCT            .             .

In [40]:
# strange_list = list("₀₁₂₃₄₅₆₇₈₉⁰¹²³⁴⁵⁶⁷⁸⁹፬")
strange_list = list("₀₁₂₃₄₅₆₇₈₉")
def is_strange(token):
    token = str(token)
    for c in strange_list:
        if c in token:
            return True
    return False

In [42]:
train_df.loc[train_df["before"].apply(is_strange)]

         sentence_id  token_id     class before after
3154722       243496         5  VERBATIM      ₂     ₂
3154725       243496         8  VERBATIM      ₃     ₃

In [41]:
train_df.loc[np.logical_and(train_df["before"].apply(is_strange), train_df["class"] != "MEASURE")]

         sentence_id  token_id     class before after
3154722       243496         5  VERBATIM      ₂     ₂
3154725       243496         8  VERBATIM      ₃     ₃

In [10]:
train_df[train_df["before"].apply(has_dash)]

         sentence_id  token_id  class   before    after
204523         16486         3  PLAIN    x-box    x-box
3057363       236147         0  PLAIN  live-in  live-in
3495630       269397         7  PLAIN  live-in  live-in
5310906       405621         8  PLAIN  live-in  live-in
8661332       655077        17  PLAIN  live-in  live-in